.container2 {
  display: flex;
  flex-direction: column;
  /* 垂直排列 */
  align-items: center;
  /* 水平居中 */
}

.lineMobile {
  width: 30vw;
  height: 2px;
  background: #50bf8b;
  margin-top: 19px;
}

.main {
  /* margin-top: 100px; */
  width: 345px;
  /* color: #50bf8b; */
}

.ProductBorder {
  border: px solid #def9ec;
  /* padding: 10px; */
  padding: 0 10px 10px 10px;
  border-radius: 5px;
}
.ProductBorderMobile {
  padding: 0 10px 10px 10px;
  border-radius: 5px;
}
.topBarMobile {
  width: 345px;
  background: #def9ec;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}



.a {
  height: 50px;
  width: 100px;
}

/* 大於375桌機樣式 */
.line {
  width: 20vw;
  height: 2px;
  background: #d9d9d9;
  margin-top: 19px;
}
.section {
  /* margin-top: 100px; */
  width: 70vw;
  max-width: 1200px !important;
  /* color: #50bf8b; */
}

.ProductBorder {
  border: 2px solid #def9ec;
  /* padding: 10px; */
  padding: 0 10px 10px 10px;
  border-radius: 5px;
}
.topBar {
  background: #def9ec;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 設大於375樣式 */
@media (min-width: 376px) {
  .nav {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cir {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "1";
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #50bf8b;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fefefe;
      font-size: 24px;
    }

    &::after {
      content: "購物車";
      position: absolute;
      font-size: 24px;
      bottom: -50px;
      width: 80px;
      left: -46px;
      margin-left: 10px;
      min-width: 30px;
    }
  }

  .circle2 {
    &::before {
      content: "2";
      background: #78cea6;
    }

    &::after {
      content: "填寫資料";
      left: -55px;
      min-width: 100px;
    }
  }

  .circle3 {
    &::before {
      content: "3";
      background: #78cea6;
    }

    &::after {
      content: "訂單確認";
      min-width: 100px;
      left: -55px;
    }
  }
  .mobile {
    display: none;
  }

  .line {
    width: 20vw;
    height: 2px;
    background: #78cea6;
    margin-top: 19px;
  }
  .line1 {
    background: #78cea6;
  }
  .mgt {
    margin-top: 10px;
    font-size: 24px;
    color: #547d63;
  }
  .mobile {
    display: none;
  }
  .button {
    height: 50px;
    width: 200px;
  }
  .keepbuy {
    background-color: #ffffff;
    color: #78cea6;
    border: 1px solid #78cea6;
    height: 50px;
    width: 200px;
    text-decoration: none;
  }
}

/* 設小於375樣式 */
@media (max-width: 376px) {
  .nav {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cir {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "1";
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #50bf8b;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fefefe;
    }

    &::after {
      content: "購物車";
      position: absolute;
      font-size: 16px;
      bottom: -30px;
      width: 80px;
      left: -35px;
      margin-left: 10px;
      min-width: 30px;
    }
  }

  .circle2 {
    &::before {
      content: "2";
      background: #50bf8b;
    }

    &::after {
      content: "填寫資料";
      left: -42px;
      min-width: 100px;
    }
  }

  .circle3 {
    &::before {
      content: "3";
      background: #78cea6;
    }

    &::after {
      content: "訂單確認";
      min-width: 100px;
      left: -42px;
    }
  }
  .desktop {
    display: none;
  }

  .line {
    width: 30vw;
    height: 2px;
    background: #d9d9d9;
    margin-top: 19px;
  }
  .line1 {
    background: #78cea6;
  }

  .mgt {
    margin-top: 60px;
  }
  .desktop {
    display: none;
  }
  .button {
    height: 50px;
    width: 100px;
    background-color: #78cea6;
    color: #ffffff;
    border: 1px solid #78cea6;
    .h3 {
      font-size: 20px;
    }
  }
  
  .keepbuy {
    height: 50px;
    width: 100px;
    background-color: #ffffff;
    color: #78cea6;
    border: 1px solid #78cea6;
    text-decoration: none;
    .h3 {
      font-size: 20px;
    }
  }
}
.fc {
  color: #547d63;
  font-weight: bold;
  font-size: 20px;
}
.fb {
  /* font-weight: bold; */
  font-size: 20px;
}

.span {
  font-size: 14px;
}


.back a{
 text-decoration: none;
 color: #50bf8b;
}
.out{
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width:375px) {
  .out{
    width: 100%;
  }
}
.totalPrice{
 
  width: 100%;
 text-align: end;
  padding: 0 100px;
 margin-top: 50px !important;
  
 
}
@media (max-width:375px) {
  .totalPrice{
   width: 345px;
    display: flex;
    justify-content: center; 
    /* text-align: end; */
    padding: 0 ;
    border-top: #50bf8b 1px solid;
  }
}
.orderEnd{
  /* text-align: right; */
  font-size: 20px;

}
.cancel{
  margin: 10px 150px;
  background-color: #def9ec;
    color: #547d63;
}
@media (max-width:375px) {
  .cancel{
    margin: 50px 50px 0px 0px;
  }
}
.cancel:hover{
  background-color: #def9ec;
    color: #547d63;
}