.chineseCuisineContainer {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 700;
  color: #75ae8e;
  line-height: 120%;
  white-space: nowrap;
}

.cuisineArrowButton {
  width: 60px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  align-self: stretch;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

/* 新增一個樣式來設置顯示按鈕的容器 */
.cuisineButtonsContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 50px;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cuisineButtonsContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.cuisineButton {
  box-sizing: border-box;
  padding: 12px 22px;
  border: 3px solid #75ae8e;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 900;
  align-self: stretch;
  justify-content: center;
  margin: auto 0;
  background-color: transparent;
  cursor: pointer;
}

.activeCuisine {
  color: #fff;
  background-color: #75ae8e;
}

.inactiveCuisine {
  color: #75ae8e;
  background-color: #fff;
}
