.priceBox {
  width: 72px;
  height: 29px;
  text-align: center;
  border: 1px solid var(--gray02);
  /* text */
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--gray01);
}

.priceBox:focus {
  color: var(--green02);
}

.to {
  margin-inline: 10px;
}

.summitButton {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.summitButton:hover {
  & .settingBotton {
    transition: all 0.45s;
    transform: scale(1.1) rotate(-12deg);
  }
}

.summitButton:active {
  & .settingBotton {
    transition: all 0.15s;
    transform: scale(1.05) rotate(-8deg);
  }
}

.settingBotton {
  margin-left: 8px;
}
