.sideBar {
  width: 250px;
  margin-right: 40px;
}
.sideTitle {
  width: 209px;
  height: auto;
  margin: 10px;
  overflow: hidden; /* 隐藏超过容器的内容 */
  display: -webkit-box; /* 将对象作为弹性伸缩盒子模型显示 */
  -webkit-line-clamp: 2; /* 限制在两行 */
  -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
  text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) */
  line-height: 1.2em; /* 设置行间距 */
  height: 2.4em; /* 2行的高度 */

  & h5 {
    padding-bottom: 15px;
    /* 將底線設為從左到右漸變 */
  }
}
.hotLine {
  margin: 10px;
  width: 205px;
  height: 4px;
  background: linear-gradient(to right, var(--green03) 30%, #d9e1e6c3 30%);
}

.sideBarBox {
  width: auto;
  height: auto;
  margin-bottom: 66px;
  border: var(--gray02) solid 1px;
  border-radius: 5px;
  /*水平右,下,模糊化*/
  box-shadow: 2px 2px 2px var(--gray02);
  /*陰影化*/
}

/* 熱門商品side-bar */

& .hotBox {
  width: 198px;
  margin-block: 10px;
}

& .hotImg {
  width: 81px;
  height: 81px;
  padding-bottom: 5px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hotText {
  width: 125px;
  height: auto;
  margin-block: auto;
  & a {
    text-decoration: none;
  }

  /*垂直置中*/
  & h6 {
    padding-left: 10px;
  }

  & .hotTitle {
    color: var(--green03);
  }
}
