.iconButton{
    border: none;
    padding: 0;
    background: none;
    /* 移除背景色 */
    cursor: pointer;
  }
  
  .starColor{
    color: var(--yellow02);
    margin-bottom: 15px;
  }
  
  .heartColor{
    color: var(--green02);
  }
.card1{
    width: 205px;
    height: auto;
    border: 1px solid var(--gray02);
    border-radius: 5px;
  }
  
  .card1Img{
    width: auto;
    height: 178px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .card1Body{
    display: flex;
    /* 垂直方向排列 */
    flex-direction: column;
    margin-inline: 10px;
    & h5{
      font-weight: 700;
      
    }
    & .card1Titlea {
      & a {
        color: var(--black) !important;
        text-decoration: none !important;
      }

  
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  .card1Btn{
    position: relative;
    width: 35px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--green05);
  
    &:hover {
      text-decoration: none !important;
      color: #000;
    }
  
    & i {
      color: var(--green02);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
    }
  }
  
  .card1Heart{
    margin: 10px 8px 5px 0px;
  }
  
  
  .card1Text{
    margin-block: 0px;
   
    & h6 {
      color: var(--green03);
      font-size: 16px;
      margin-top: 0px;
      font-weight: 700;
    }
  
    & p {
      text-decoration: line-through;
      margin-top: 2px;
      font-weight: 600;
      margin-left: 20px;
      font-size: 12px;
    }
  
  }
  @media (max-width: 375px) {
    .iconButton{
      border: none;
      padding: 0;
      background: none;
      /* 移除背景色 */
      cursor: pointer;
    }
    
    .productCard1{
      display: flex;
      justify-content: center;
      gap: auto;
      row-gap: 10px;
      flex-wrap: wrap;
    }
    
    .card1{
      width: 166px;
      height: auto;
      border: 1px solid var(--gray02);
      border-radius: 5px;
    }
    
    .card1Img{
      width: auto;
      height: 129px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .card1Body{
      display: flex;
      /* 垂直方向排列 */
      flex-direction: column;
      margin-inline: 10px;
      & h5{
        text-align: center;
      }
      & .card1Titlea {
        color: var(--black);
    
        &:hover {
          text-decoration: none;
        }
      }
    }
    
    .card1Btn{
      position: relative;
      width: 30px;
      height: 25px;
      background-color: var(--green05);
      margin-bottom: 15px;
    
      &:hover {
        text-decoration: none;
        color: #000;
      }
    
      & i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
      }
    }
    
    .card1Heart{
      margin-right: 5px;
      margin-top: 5px;
    }
    .heartIcon{
      align-items: center;
      justify-content: center;
    
    }
    
    .card1Text{
      margin: 0px;
      margin-top: 0px;
      align-items: center;
      justify-content: center;
    
      & h6 {
        color: var(--green03);
        font-size: 14px;
      }
    
      & p {
        /* 橫線 */
        text-decoration: line-through;
        margin-left: 10px;
        
      }
    }
    
  }