<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>speakerCardVertical</title>
    <link rel="stylesheet" href="/np/styles/globals.css" />
    <link rel="stylesheet" href="./SpeakerCardVertical.module.css" />
    <style></style>
  </head>
  <body>
    <a href="#" class="speaker-card-link">
      <div class="speaker">
          <div class="speaker-img">
            <img src="/np/public/speaker-image/lecturer 16.jpg" alt="" />
          </div>
        <div class="speaker-name">
          <h5>戴于益</h5>
          <h6>米其林藍帶 CEO</h6>
        </div>
      </div>
    </a>
  </body>
</html>
