.figma-h3 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.313%;
}

.figma-h4 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h5 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h6 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  letter-spacing: 0.96px;
}

.figma-p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.313%;
}

body {
  background-color: rgb(138, 138, 138);
}

// custom style
.row {
  width: 1060px;
}

.table-top {
  padding: 18px 50px;
  border-bottom: 1px solid var(--green05);
  background: rgba(222, 249, 236, 0.5);
  .top-left {
    p {
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%; /* 25px */
      letter-spacing: 1.2px;
      color: var(--green02);
    }
    input[type="checkbox"] {
      appearance: none;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      border: 2px solid var(--green02);
      border-radius: 3px;
      &:hover {
        border: 2px solid var(--green03);
      }
    }
  }

  .top-right {
    gap: 82px;
    p {
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%; /* 25px */
      letter-spacing: 1.2px;
      color: var(--gray01);
    }
  }
}

.table-main {
  padding: 0;
  .product-card {
    padding: 15px 48px;
    border-bottom: 2px solid var(--green05);
    background: #fff;
    .card-left {
      flex: 1 1 370px;
      gap: 34px;
      align-items: center;
      .product-pic {
        width: 134px;
        height: 108px;
        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .product-description {
        .product-name {
          color: var(--black);
        }
        .portion-price {
          p {
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            color: var(--gray01);
          }
        }
      }
      input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border: 2px solid var(--green02);
        border-radius: 3px;
        &:hover {
          border: 2px solid var(--green03);
        }
      }
    }
    .card-right {
      flex: 0 1 191px;
      gap: 52px;
      .quantity {
        gap: 5px;
        button {
          font-size: 24px;
          background: none;
          color: var(--green02);
          border: none;
        }
        p {
          font-size: 20px;
          padding-left: 10px;
          color: var(--black);
        }
      }
      .subtotal {
        color: var(--black);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}

.table-bottom {
  padding: 10px 24px;
  gap: 15px;
  background-color: #fff;
  p {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 25px */
    letter-spacing: 1.2px;
    color: #454545;
  }
  .btn-add-to-cart {
    padding: 10px 15px;
    gap: 8px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 5px;
    background: var(--green02);
    border: none;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
