.tabs {
    width: 100%;
    display: flex;
    gap: 10px;
    border-bottom: 2px solid var(--gray02);
  }
  .tab {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    cursor: pointer;
    /* 字體 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: var(--gray01);
    @media (max-width: 375px) {
        font-size: 14px;
      }
  }
  .tab.active {
    border-bottom: 3px solid var(--green02);
    color: var(--green02);
  }