.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-block: 40px;
  @media screen and (max-width: 376px) {
    max-width: 345px;
    margin: 15px auto;
    padding-block: 0px;
  }

  .list-wrapper {
    gap: 120px;
    margin-inline: 0px;
    @media screen and (max-width: 376px) {
      margin-inline: 0px;
    }

    .grid-layout {
      margin: 0;
      padding: 0;
    }
  }
}
