.wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding-block: 40px;
  @media screen and (max-width: 376px) {
    max-width: 345px;
    margin: 15px auto;
    padding-block: 0px;
  }
  .list-layout {
    .main-content {
      gap: 40px;
    }
  }

  .list-wrapper {
    gap: 100px;
    margin-inline: 0px;
    padding-right: 70px;
    @media screen and (max-width: 376px) {
      margin-inline: 0px;
      padding-right: 0;
    }
    .prev,
    .next {
      // background-color: rgb(233, 233, 233);
      // background-color: var(--gray02);
      background-color: #f7f8f5;
      color: #747e85;
    }
    .current {
      background-color: var(--green02);
      color: white;
    }

    .grid-layout {
      margin: 0;
      padding: 0;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.38;
  border-color: none;
}
