.jumpOutWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.jumpOutContainer {
  position: fixed;
  top: 10vh;
  left: 30vw;
  width: 40vw;
  height: 83vh;
  background-color: #f9f9f9;
  padding-inline: 3vw;
  padding-block: 4vh;
  border-radius: 16px;
}

@media (max-width: 375px) {
  .jumpOutContainer {
    top: 10vh;
    left: 9vw;
    height: 80vh;
    width: 82vw;
  }
}

.titleText {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 72px;
  padding-bottom: 14px;
  margin-inline: 24px;
  margin-bottom: 24px;
  border-bottom: var(--gray01) 3px solid;
}

@media (max-width: 375px) {
  .titleText {
    height: 56px;
  }
}

.mainArea {
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(1, 1fr);
  padding: 0px 12px;
  margin-inline: 24px;
  height: 85%;
  overflow: auto;
  scrollbar-width: none;
}

@media (max-width: 375px) {
  .mainArea {
    margin-inline: 20px;
  }
}

.CouponList {
  padding: 10px;
  margin-bottom: 20px;
}
