.articleContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  gap: 50px;
}
.classDetailAndLinks {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.classImageContainer {
  width: 567px;
  height: 433px;
  border-radius: 20px;
  overflow: hidden;
}

.classImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.classInformations {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 26px;
  gap: 33px;
}

.className {
  color: var(--light-green, rgba(56, 142, 101, 0.7));
  text-overflow: ellipsis;
  margin: 0;
  /* H3 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 120.313%;
}
.classMobileSelectGroup {
  display: none;
  gap: 15px;
}

.classMobileSelectActive {
  border-radius: 5px;
  border: #56b77e;
  outline: none;
  width: 102px;
  height: 29px;
  /* padding: 10px 20px; */
  /* style */
  color: #ffffff;
  background-color: #56b77e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}
.classMobileSelect {
  border-radius: 5px;
  border: 1px solid var(--light-green, rgba(56, 142, 101, 0.7));
  outline: none;
  width: 102px;
  height: 29px;
  /* padding: 10px 20px; */
  /* style */
  color: var(--light-green, rgba(56, 142, 101, 0.7));
  background-color: transparent;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}
.classInformationContainer {
  display: flex;
  flex-direction: column;
  height: 215px;
  gap: 18px;
  padding: 10px;
}

.classInfor {
  display: flex;
  width: 270px;
  gap: 30px;
}

.inforTitle {
  width: 120px;
  /* text-style */
  color: var(--black, var(--gray03, #454545));
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}
.inforDetail {
  width: 120px;
  /* text-style */
  color: var(--green01, #547d63);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.313%;
}

.classImagesAndContentsMobile {
  display: none;
}
.classLinksContainer {
  display: flex;
  width: 270px;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 42px;
  padding: 6px 16px;
  border-radius: 5px;
  background: #56b77e;
  border: none;
  gap: 4px;
  text-decoration: none;
  cursor: pointer;
}

.linkText {
  margin: 0;

  color: var(--Shades-White, #fff);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 375px) {
  .classDetailAndLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
    gap: 0px;
  }

  .classImageContainer {
    width: 305px;
    height: 233px;
    margin-block: 20px;
  }
  .classInformations {
    gap: 0px;
    padding: 0;
    width: 305px;
    justify-content: start;
  }

  .className {
    color: var(--gray03, #454545);
    text-overflow: ellipsis;
    margin-bottom: 20px;
    /* H4 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120.313%;
  }
  .classMobileSelectGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;
  }
  .classInformationContainer {
    padding: 0;
    width: 100%;
    height: 172px;
    margin-bottom: 20px;
  }

  .classInfor {
    gap: 16px;
  }

  .inforTitle {
    width: 84px;
    font-size: 16px;
  }
  .inforDetail {
    font-size: 16px;
    font-weight: 500;
    line-height: 120.313%;
  }
  .classImagesAndContentsMobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .classIntroImageContainerMobile {
    width: 305px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    margin-block: 20px;
  }
  .classIntroImageMobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .classLinksContainer {
    width: 255px;
    padding-right: 50px;
    margin-bottom: 30px;
  }
}
.speakerIntroAndLink {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 41px;
  width: 866px;
  gap: 10px;
}

.speakerImage {
  width: 180px;
  height: 180px;
}
.speakerInfor {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.speakerNameSet {
  display: flex;
  flex-direction: column;
}

.speakerName {
  text-align: center;
  margin: 0;
  /* text-style */
  color: var(--black, var(--gray03, #454545));
  /* H4 */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}
.speakerSubName {
  text-align: center;
  margin: 0;
  /* text-style */
  color: var(--gray01, #747e85);

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.313%;
}
.speakerBackgroundInfor {
  /* text-style */
  color: var(--gray01, #747e85);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 137%;
}
.speakerLinkContainer {
  width: 100%;
}

.speakerDetailLink {
  display: flex;
  justify-content: end;
  text-decoration: none;
  /* style */
  color: var(--green02, var(--green02, #50bf8b));
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 4px;
  cursor: pointer;
}

.speakerLinkIcon {
  margin-top: 2px;
}

@media (max-width: 375px) {
  .speakerIntroAndLink {
    display: none;
  }
}

.classImagesAndContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 907px;
}

.imageTextSet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classIntroImageContainer {
  width: 855px;
  height: 623px;
  overflow: hidden;
  border-radius: 20px;
  margin-block: 40px;
}

.classIntroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.classIntroText {
  width: 757px;
  margin-bottom: 40px;
}

@media (max-width: 375px) {
  .classImagesAndContents {
    display: none;
  }
}
