<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile-detail-article</title>
    <style>
      .classIntroImageContainerMobile {
        width: 305px;
        height: 200px;
        overflow: hidden;
        border-radius: 15px;
        margin-block: 20px;
      }

      .classIntroImageMobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .classIntroTextMobile {
        width: 305px;
      }
    </style>
  </head>
  <body>
    <div class="imageTextSetMobile">
      <div class="classIntroImageContainerMobile">
        <img
          src="../../../public/images/class-intro-image.jfif"
          alt=""
          class="classIntroImageMobile"
        />
      </div>
      <div class="classIntroTextMobile">
        「探索松露的秘密」課程是一場關於這個珍貴食材的深度之旅。首先，我們會帶您深入了解松露的世界，包括不同種類、產地和風味特點。從白松露到黑松露，每種松露都有其獨特的味道和用途，我們將帶您探索它們的起源、生長環境以及如何挑選最佳的松露。透過視頻示範、教材閱讀和專家分享，您將對松露有更深入的認識。
      </div>
    </div>
  </body>
</html>
