.imageTextSet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.classIntroImageContainer {
  width: 855px;
  height: 623px;
  overflow: hidden;
  border-radius: 20px;
  margin-block: 40px;
}

.classIntroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.classIntroText {
  width: 757px;
  margin-bottom: 40px;
  font-size: 16px;
}
