/* typography */
.figma-h3 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.313%;
}

.figma-h4 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h5 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h6 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  letter-spacing: 0.96px;
}

.figma-p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.313%;
}

.recipe-card {
  padding: 15px;
  gap: 30px;
  border-radius: 5px;
  margin-inline: 0px;
  border-right: 1px solid var(--gray02);
  border-bottom: 1px solid var(--gray02);
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  @media screen and (max-width: 376px) {
    gap: 0px;
  }
  .card-pic {
    height: 250px;
    @media screen and (max-width: 376px) {
      height: 100px;
    }
    img {
      border-radius: 5px;
    }
    @media screen and (max-width: 376px) {
      padding: 0;
    }
  }
  .recipe-title {
    color: var(--black);
    @media screen and (max-width: 376px) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1;
      height: 27px;
    }
  }
  .heart {
    width: 25px;
    height: 25px;
    cursor: pointer;
    &.saved {
      color: rgb(193, 77, 60);
    }
    &.unsaved {
      color: rgb(217, 217, 217);
    }
  }
  .card-content-middle {
    color: var(--black);
  }
  .bottom-left {
    .date {
      color: var(--gray01);
      margin-bottom: 0px;
    }
    .recipe-category {
      color: var(--gray01);
    }
    @media screen and (max-width: 376px) {
      margin-bottom: 10px;
    }
  }
  .btn-more-detail {
    border-radius: 5px;
    background: var(--green02);
    padding: 8px 15px;
    border: none;
    @media screen and (max-width: 376px) {
      font-size: 14px;
    }
  }
}
