/* typography */
.figma-h3 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.313%;
}

.figma-h4 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h5 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h6 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  letter-spacing: 0.96px;
}

.figma-p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.313%;
}

.row {
  margin-inline: 0px;
  .side-bar-wrapper {
    width: 260px;
    border-radius: 20px;
    border: 1px solid var(--gray02);
    padding: 25px;
    gap: 20px;
    .side-bar-top {
      gap: 15px;
      p {
        margin-bottom: 0px;
      }
    }
    .line {
      height: 4px;
      background: linear-gradient(to right, var(--green03) 46%, #d9e1e6c3 30%);
    }

    .side-card {
      .side-card-content {
        padding-inline: 0;
        p {
          margin-bottom: 0;
        }
        .side-card-title {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
        .side-card-description {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          font-size: 12px;
        }
        .side-card-date {
          font-size: 10px;
          color: var(--gray01);
        }
      }
    }
  }
}
