/* 全域 */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  background-color: var(--white, #fefefe);
  display: flex;
  /* 容器頂部開始垂直排列，而不是水平排列 */
  flex-direction: column;
  padding: 23px 0;
}

/* hero */
.Hero {
  max-width: 1920px;
  margin: auto;
  padding: 36px 0px;
  gap: 404px;
}

.slider {
  height: 905px;
  background: #000;
  overflow: hidden;
}

.slideImage {
  left: 0px;
  transition: 0.4s;

  & li {
    height: 905px;
    flex: 1 0 0;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.pages {
  bottom: 0.8rem;
  margin-bottom: 0;

  & li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--green03);
    margin-inline: 4px;

    &.current {
      background: var(--green03);
    }
  }
}

.slideBtn {
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }

  &.slideNext {
    right: 0;
  }

  cursor: pointer;

  & i {
    color: #fff;
  }
}

@media (max-width: 375px) {
  /*header*/
  .header375 {
    display: none;
  }

  /*排版*/
  .container {
    padding: 0 10px;
  }

  .wrapper {
    width: 100%;
  }

  /*Hero (RWD)*/
  .Hero {
    width: auto;
  }

  .slider {
    height: 203px;
    background: #000;
    overflow: hidden;
  }

  .slideImage {
    left: 0px;
    transition: 0.4s;

    & li {
      height: 203px;
      flex: 1 0 0;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .pages {
    bottom: 0.8rem;
    margin-bottom: 0;

    & li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid var(--green03);
      margin-inline: 4px;

      &.current {
        background: var(--green03);
      }
    }
  }
}

/* <!-- Nutripoll-p and button--> */


.nutripollP {
  display: flex;
  padding: 15px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.titleP {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
  font-weight: normal;
& h1 {
    font-weight: 600;
    font-size: 32px;
    color: var(--black);
}
& h6 {
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
}
}

.textNutripoll {
  display: flex;
  flex-direction: column;
  & h5 {
    font-weight: 400;
    line-height: 30.8px; /* 40.8px*/
  }
}

.buttonNutripoll {
  display: flex;
  padding: 18px 54px;
  justify-content: center;
  align-items: center;
}

.btn1 {
  background-color: var(--green03);
  width: 250px;
  height: 50px;
  border-radius: 0%;
  color: #fff;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  border: none;
  text-decoration: none !important;

  &:hover {
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 4px 7px #ccc;
    transition: 0.5s;
  }
}

/* <!-- Nutripoll-p and button RWD --> */
@media (max-width: 375px) {
  .titleP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
  }

  .nutripollP {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
  }

  .textNutripollh4 span {
    margin-top: 100px;
  }

  .buttonNutripoll {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }
  .btn1 {
    width: 170px;
    height: 45px;
    font-size: 16px;
  }
}

/* <!-- Nutripoll-card1 --> */
.NutripollCard1 {
  padding: 56px 0px 80px 0px;
}
.card1Rwd{
  display:flex;
  justify-content: space-between;
}
.card1Img {
  width: 500px;
  display: flex;
  flex-direction: column;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card1Text {
  display: flex;
  flex-direction: column;
  color: var(--black);
  width: 862px;
  height: auto;

  & h3 {
    font-size: 32px;
    padding-bottom: 5%;
  }
  & h6 {
    font-size: 22px;
    font-weight: 300;
    line-height: 130%;
  }
}

/* <!-- Nutripoll-card1 RWD--> */
@media (max-width: 375px) {
  .NutripollCard1 {
    padding: 20px 0px 30px 0px;
  }

  .card1Rwd {
    display: inline-block !important;
    width: 375px;
  }

  .card1Img {
    width: 375px;
    padding: 0px 20px;
    height: 190px;
    display: flex;
    flex-direction: column;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card1Text {
    display: flex;
    flex-direction: column;
    color: var(--black, #454545);
    width: 375px;
    padding: 0px 15px;
    margin-left: 0px;
    height: auto;

    /* border: 1px solid var(--black); */
    & h3 {
      padding-top: 5%;
      padding-bottom: 10px;
      text-align: center;
      font-size: 24px;
    }

    & h6 {
      text-align: center;
      font-size: 18px;
    }
  }
}

/* <!-- Nutripoll-card2 框架--> */

.Nutripollcard2 {
  display: flex;
  padding: 56px 0px;
  /* justify-content: space-between; */
  gap:70px;
  flex-wrap: wrap;
  @media(max-width: 375px){
    gap:0px;
    padding-inline: 10px;
  }
}

/* <!-- Nutripoll-card3 框架 --> */
.Nutripollcard3 {
  /* 均勻分佈距離 */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 56px;
}
.MeAuto {
  font-weight: 700;
  font-size:24px;
}
.arrow {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* <!-- Nutripoll-card3 商品分類 (RWD)--> */
@media (max-width: 375px) {
  .CategoryRwd {
    display: none;
  }
}

/* <!-- Nutripoll-card4 熱銷商品 框架--> */
.Nutripollcard4 {
  display: flex;
  padding: 35px 15px;
  row-gap: 10px;
  gap: 35px;
  flex-wrap: wrap;
  @media(max-width:375px){
gap:0px;
  }
}

.TitleRwd {
  display: none;
}

/* <!-- Nutripoll-card4 熱銷商品(RWD) --> */

@media (max-width: 375px) {
  .TitleRwd {
    display: block;
    text-decoration: none !important;
    color: var(--black);
  }
}

/* <!-- Nutripoll-card5&6 熱門課程&精選食譜 -->

Nutripoll-card5 熱門課程 */
/* 讓卡片水平排列 */
.FlexRow {
  margin-block: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card5Title {
  padding: 0px 15px 35px 15px;
}
.card6Title{
  padding-inline: 10px;
}
.Nutripollcard5{
  padding: 15px;
}
/* Nutripoll-card6 精選食譜 */
.Nutripollcard6 {
  flex-direction: column;
  padding: 35px 10px;
  gap: 20px;
}

/* <!-- Nutripoll-card5&6 熱門課程&精選食譜 RWD --> */
@media (max-width: 375px) {
  .FlexRow {
    display: flex;
    flex-direction: column !important;
  }
  .card5Main {
    width: auto;
  }
}
