.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // 使容器至少與視窗一樣高
}
.content {
  width: 100%;
  flex: 1; // 允許此區域彈性擴展以填滿多餘的空間
}

.container {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 60px 0px;
  gap: 30px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gridCards {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  // width: 100%;
  margin-inline: 40px;
}
.pagination {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.productCard1 {
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.noResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
  gap: 30px;
}
.noResultImg img {
  width: 300px;
  height: 300px;
}
