// -------------------動畫
@keyframes slideIn {
  from {
    transform: translateX(-100%); /* 假設您的側邊欄是從左側滑入 */
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300px);
  }
}
// -------------------動畫
/* * {
  margin: 0;
}
a:visited {
  color: initial;
} */
.fullMobileScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  & .slideOut {
    animation: slideOut 1s ease-out;
  }
  & .sideBarContainer {
    animation: slideIn 0.29s ease-out;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 227px;
    // height: 75vh;
    background: #f9f9f9;

    & .memberContainer {
      width: 100%;
      padding-block: 14px;
      padding-inline: 12px;
      background: #eff2f4;
      & .memberSet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        & .memberImg {
          width: 45px;
          height: 45px;
          margin-left: 6px;
          border-radius: 50%;
          background: #cacaca;
          overflow: hidden;
          object-fit: contain;
        }
        & .memberName {
          font-size: 16px;
          font-weight: 600;
          padding-inline: 6px;
          margin-top: 4px;
        }
        & .memberButtonContainer {
          display: flex;
          flex-direction: row;
          justify-content: left;
          align-items: center;
          & .memberButton {
            font-size: 14px;
            font-weight: 600;
            border: none;
            background: none;
          }
        }
      }
    }
    & .optionContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 0px 13px 4px 13px;
      & .optionBlock {
        // border-bottom: #454545 1px solid;
        padding-left: 6px;
        padding-block: 10px;
        font-weight: 700;
        font-size: 18px;
        & .optionBtn {
          color: #454545;
          border: none;
          background: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 14px;
          padding-inline: 0px;
        }
      }
    }
  }
}

@media (min-width: 376px) {
  .fullMobileScreen {
    display: none;
  }
}

.container {
  background-color: var(--white, #fefefe);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0;
  box-shadow: 0px 2px 4px #bbbbbb77;
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 999;
}

.header {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  display: flex;
  padding: 12px 0px;
  max-width: 1440px;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.header.shrink {
  padding: 0px;
}
@media (max-width: 375px) {
  .container {
    padding: 8px 0px;
  }
  .container.shrink {
    padding: 0px;
  }
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* 下拉改造 */
.searchDropBox {
  background: #fefefe;
  color: black;
  padding: 10px;
  border: none;
  text-align: left;
  text-decoration: none;
  display: block;
  width: 100%;
}

.selectionLink {
  background: #fefefe;
  color: #6a6868;
  padding-inline: 10px;
  padding-block: 6px;
  text-align: left;
  text-decoration: none;
  display: block;
  width: 100%;
  cursor: pointer;
}
.selectionLink:hover {
  color: var(--green01);
  background: #eef4ea;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px -1px 2px 1px rgb(0 0 0 / 4%);
  background: #fefefe;
  border-radius: 10px;
  z-index: 1;
}

.noMargin {
  margin: 0;
}

// .dropdownContent {
//   display: block;
// }
/* 下拉hover */
.dropdownAll:hover {
  color: #78cea6;
}
.dropdownAll:visited {
  color: black;
}
.dropdownProduct:hover {
  color: #78cea6;
}
.dropdownProduct:visited {
  color: black;
}
.dropdownRecipe:hover {
  color: #78cea6;
}
.dropdownRecipe:visited {
  color: black;
}
.dropdownClass:hover {
  color: #78cea6;
}
.dropdownClass:visited {
  color: black;
}
.dropdownSpeaker:hover {
  color: #78cea6;
}
.dropdownSpeaker:visited {
  color: black;
}
/* 下拉hover */
/* 下拉改造 */

/* 搜尋改造 */
.searchBarInput {
  border: none;
  padding: 4px;
  width: 17vw;
  margin-top: 2px;
  margin-left: 5px; /* 根據需要調整間距 */
}
.searchBarInput::placeholder {
  font-size: 16px;
}
.searchBarInput:focus {
  border: none;
  outline: none;
}
.searchBarInput:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s;
}
.searchBarButton {
  background: none;
  border: none;
  cursor: pointer;
}
/* 搜尋改造 */
/* 頁面連結 */
.pageLink {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  color: #565c5d;
  cursor: pointer;
  font-size: 20px;
  gap: 8px;
  position: relative;
}

/* 頁面連結 */

.headerContent {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  height: 83.281px;
  transition: height 0.3s ease-in-out;
  // overflow:hidden;
}
.headerContent.shrink {
  height: 0;
  overflow: hidden;
}
@media (max-width: 375px) {
  .headerContent {
    flex-wrap: wrap;
    max-width: 100%;
    height: 46.063px;
  }
}

.logoWrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.mobileMenu {
  display: none;
}
@media (max-width: 375px) {
  .mobileMenu {
    display: block;
    margin-bottom: 6px;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin-top: 4px;
  }
}

.logo {
  object-fit: auto;
  object-position: center;
  width: 235px;
  color: #fefefe;
  cursor: pointer;
}
.logo:visited {
  color: #fefefe;
}
@media (max-width: 375px) {
  .logo {
    width: 130px;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid rgba(120, 206, 166, 1);
  border-radius: 5px;
  color: var(--gray01, #919da6);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 20px;
  line-height: 120%;
  margin: auto 0;
  padding: 0px 24px;
}
@media (max-width: 375px) {
  .searchBar {
    display: none;
  }
}

.searchBarLeft {
  display: flex;
  gap: 10px;
}

.searchBarText {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.searchBarDivider {
  align-self: center;
}

.searchBarPlaceholder {
  color: var(--gray02, #d9e1e6);
}

.headerActions {
  align-items: flex-end;
  align-self: stretch;
  color: var(--gray01, #919da6);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  line-height: 120%;
  margin: auto 0;
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 375px) {
  .headerActions {
    white-space: initial;
    gap: 8px;
  }
}

.cartAction {
  display: flex;
  gap: 0;
}

@media (max-width: 375px) {
  .cartAction {
    white-space: initial;
  }
}

.iconText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  color: #454545;
}
.iconText:visited {
  color: #454545;
}

.logout {
  border: none;
  background: transparent;
  padding-inline: 0px;
  // margin-bottom: 2px;
  width: 34px;
  height: 34px;
}

.aBitMargin {
  margin-inline-end: 2px;
}

.mobileNone {
  margin-inline-end: 2px;
}

.iconLinkMobile {
  display: none;
}
@media (max-width: 375px) {
  .iconText {
    font-size: 0px;
    color: #78cea6;
  }
  .mobileNone {
    display: none;
  }
  .iconLinkMobile {
    display: block;
  }
}

.memberAction {
  display: flex;
  gap: 0;
  justify-content: center;
  margin-top: 8px;
}

@media (max-width: 375px) {
  .memberAction {
    white-space: initial;
  }
}

.nav {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 1.6px;
  line-height: 120%;
  margin-top: 10px;
  padding: 11px auto;
  white-space: nowrap;
  width: 100%;
}

@media (max-width: 375px) {
  .nav {
    display: none;
  }
}

.navList {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
/* 頁面連結 */
.navItemPromotion {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding-inline: 15px;
}
.navItemPromotion:hover {
  color: var(--green02);
  border-bottom: 3px solid var(--green02);
  cursor: pointer;
}
.navItemPromotion:hover .pageLink {
  color: var(--green02);
}
.navItemPageLinks {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding-inline: 15px;
}
.navItemPageLinks:hover {
  color: var(--green02);
  border-bottom: 3px solid var(--green02);
  cursor: pointer;
}
.navItemPageLinks:hover .pageLink {
  color: var(--green02);
}
/* 頁面連結 */

.navItemAbout {
  display: flex;
  gap: 3px;
  align-items: center;
  height: 45px;
  padding-inline: 15px;
  justify-content: center;
  letter-spacing: 0.8px;
}
.navItemAbout:hover {
  color: var(--green02);
  border-bottom: 3px solid var(--green02);
  cursor: pointer;
}
.navItemAbout:hover .pageLink {
  color: var(--green02);
}
.navTextButton {
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  & div {
    line-height: 24px;
    text-align: flex-start;
  }
}

// .sidebarSlideIn {
//   animation: slideIn 0.5s ease-out;
//   width: 227px; /* 設定側邊欄的寬度 */
//   position: fixed; /* 或其他適合您佈局的定位方式 */
//   z-index: 1000; /* 確保側邊欄在頁面上其他元素之上 */
// }
.slideOut {
  animation: slideOut 0.5s ease-out forwards;
}
.favorIcon {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 40px;
  height: 40px;
  & .favorAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #db1212;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    top: 0;
    right: 0;
  }
  @media (max-width: 375px) {
    display: none;
  }
}

// 手機的搜索區域--------------------------------------------
.mobileSearchArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin-top: 4px;
  width: 260px;
  max-height: 0px;
  overflow: hidden;
  background: white;
  z-index: 500;
  top: 62px;
  left: 55px;
  border: #78cea6 none 1px;
  border-radius: 10px;
  transition: max-height 0.3s ease-in-out;
  & .searchBarInputMobile {
    padding-inline: 12px;
    padding-block: 4px;
    font-size: 16px;
    width: 190px;
    height: 40px;
    caret-color: #454545;
    border: none;
    border-radius: 10px;
    opacity: 0; // 初始透明
    transition: opacity 0.3s ease-in-out;
  }
}

.mobileSearchAreaShow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin-top: 4px;
  width: 260px;
  // height: 42px;
  max-height: 42px;
  background: white;
  top: 62px;
  left: 55px;
  border: #78cea6 solid 1px;
  border-radius: 10px;
  transition: max-height 0.2s ease-in-out;
  & .searchBarInputMobile {
    // display: none;
    padding-inline: 12px;
    padding-block: 4px;
    font-size: 16px;
    width: 190px;
    height: 40px;
    caret-color: #454545;
    border: none;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  & .searchBarInputMobile:focus {
    outline: none;
  }
}

@media (max-width: 374.8px) {
  .mobileSearchAreaShow {
    display: none;
  }
}

.cart-num {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: -7px;
  right: -5px;
  color: white;
  font-size: 14px;
  @media screen and (max-width: 375px) {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}
