/* * {
  margin: 0;
}
a:visited {
  color: initial;
} */
.container {
  background-color: var(--white, #fefefe);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0;
}

.header {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  display: flex;
  padding: 12px 0px;
  max-width: 1440px;
  width: 100%;
}

@media (max-width: 375px) {
  .container {
    padding: 8px 0px;
  }
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

/* 下拉改造 */
.searchDropBox {
  background: #fefefe;
  color: black;
  padding: 10px;
  border: none;
  text-align: left;
  text-decoration: none;
  display: block;
  width: 100%;
}

.selectionLink {
  background: #fefefe;
  color: black;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background: #fefefe;
  z-index: 1;
}

.noMargin {
  margin: 0;
}

.dropdownContent {
  display: block;
}
/* 下拉hover */
.dropdownAll:hover {
  color: #78cea6;
}
.dropdownAll:visited {
  color: black;
}
.dropdownProduct:hover {
  color: #78cea6;
}
.dropdownProduct:visited {
  color: black;
}
.dropdownRecipe:hover {
  color: #78cea6;
}
.dropdownRecipe:visited {
  color: black;
}
.dropdownClass:hover {
  color: #78cea6;
}
.dropdownClass:visited {
  color: black;
}
.dropdownSpeaker:hover {
  color: #78cea6;
}
.dropdownSpeaker:visited {
  color: black;
}
/* 下拉hover */
/* 下拉改造 */

/* 搜尋改造 */
.searchBarInput {
  border: none;
  padding: 4px;
  width: 17vw;
  margin-top: 2px;
  margin-left: 5px; /* 根據需要調整間距 */
}
.searchBarInput::placeholder {
  font-size: 16px;
}
.searchBarInput:focus {
  border: none;
  outline: none;
}
.searchBarInput:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s;
}
.searchBarButton {
  background: none;
  border: none;
  cursor: pointer;
}
/* 搜尋改造 */
/* 頁面連結 */
.pageLink {
  text-decoration: none;
  display: flex;
  align-items: start;
  color: #454545;
}
.pageLink:active {
  color: #78cea6;
}
.pageLink:visited {
  color: #454545;
}

/* 頁面連結 */

.headerContent {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
}

@media (max-width: 375px) {
  .headerContent {
    flex-wrap: wrap;
    max-width: 100%;
  }
}

.logoWrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.mobileMenu {
  display: none;
}
@media (max-width: 375px) {
  .mobileMenu {
    display: block;
    margin-bottom: 6px;
    background: none;
    outline: none;
    border: none;
    padding: 0;
  }
}

.logo {
  object-fit: auto;
  object-position: center;
  width: 235px;
  color: #fefefe;
}

.logo:visited {
  color: #fefefe;
}
@media (max-width: 375px) {
  .logo {
    width: 130px;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid rgba(120, 206, 166, 1);
  border-radius: 5px;
  color: var(--gray01, #919da6);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 20px;
  line-height: 120%;
  margin: auto 0;
  padding: 0px 24px;
}

@media (max-width: 375px) {
  .searchBar {
    display: none;
  }
}

.searchBarLeft {
  display: flex;
  gap: 10px;
}

.searchBarText {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.searchBarDivider {
  align-self: center;
}

.searchBarPlaceholder {
  color: var(--gray02, #d9e1e6);
}

.headerActions {
  align-items: start;
  align-self: stretch;
  color: var(--gray01, #919da6);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  gap: 13px;
  line-height: 120%;
  margin: auto 0;
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 375px) {
  .headerActions {
    white-space: initial;
  }
}

.cartAction {
  display: flex;
  gap: 0;
}

@media (max-width: 375px) {
  .cartAction {
    white-space: initial;
  }
}

.iconText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  color: #454545;
}
.iconText:visited {
  color: #454545;
}

.aBitMargin {
  margin-inline-end: 2px;
}

.mobileNone {
  margin-inline-end: 2px;
}

.iconLinkMobile {
  display: none;
}
@media (max-width: 375px) {
  .iconText {
    font-size: 0px;
    color: #78cea6;
  }
  .mobileNone {
    display: none;
  }
  .iconLinkMobile {
    display: block;
  }
}

.memberAction {
  display: flex;
  gap: 0;
  justify-content: center;
  margin-top: 8px;
}

@media (max-width: 375px) {
  .memberAction {
    white-space: initial;
  }
}

.nav {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 1.6px;
  line-height: 120%;
  margin-top: 10px;
  padding: 11px auto;
  white-space: nowrap;
  width: 100%;
}

@media (max-width: 375px) {
  .nav {
    display: none;
  }
}

.navList {
  display: flex;
  gap: 35px;
  padding: 10px 48px;
}

/* 頁面連結 */
.navItemPromotion {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-inline-end: 16px;
}

.navItemPageLinks {
  display: flex;
  gap: 3px;
  justify-content: center;
}
/* 頁面連結 */

.navItemAbout {
  display: flex;
  gap: 3px;
  justify-content: center;
  letter-spacing: 0.8px;
}
