.side-bar {
    width: 250px;
    margin-right: 40px;
  }
.side-title {
    width: 209px;
    height: auto;
    margin: 10px;
  
    & h5 {
      padding-bottom: 15px;
      /* 將底線設為從左到右漸變 */
    }
  
  }
  .hot-line {
    margin: 10px;
    width: 205px;
    height: 4px;
    background: linear-gradient(
        to right,
        var(--green03) 30%,
        #d9e1e6c3 30%
      );
  }
  
  
  .side-bar-box {
    width: auto;
    height: auto;
    margin-bottom: 66px;
    border: var(--gray02) solid 1px;
    border-radius: 5px;
    /*水平右,下,模糊化*/
    box-shadow: 2px 2px 2px var(--gray02);
    /*陰影化*/
  }
  
  /* 熱門商品side-bar */
  
  & .hot-box {
    width: 209px;
    height: 91px;
    margin: 10px;
    border-bottom: var(--gray01) solid 2px;
  }
  
  & .hot-img {
    width: 81px;
    height: 81px;
    padding-bottom: 5px;
  
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
   .hot-text {
    width: auto;
    height: auto;
    margin-block: auto;
    & a {
      text-decoration: none;
    }
  
    /*垂直置中*/
    & h6 {
      padding-left: 10px;
    }
  
    & .hot-title {
      color: var(--green02);
    }
  }