.object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productCard {
  text-decoration: none;
  width: 210px;
  border: var(--gray02) solid 1px;
  border-radius: 5px;
  .CardImg {
    width: 210px;
    height: 178px;
    border-radius: 5px;
  }
  .product-info {
    text-decoration: none;
    padding: 20px;
    .product-name {
      max-width: 170px; /* 可以調整寬度以符合你的設計需求 */
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--black);
    }
    .stars-row {
      .favorite-btn {
        background: none;
        color: var(--green03);
      }
      .score {
        color: var(--gray01);
        font-size: 1rem;
      }
      .star {
        color: var(--yellow02);
        font-size: 1rem;
      }
    }
    .product-price {
      .price {
        color: var(--green02);
        font-size: 0.9rem;
        font-weight: 700;
      }
      .price-buy {
        .original-price {
          font-size: 0.8rem;
          font-weight: 700;
          color: var(--gray01);
          text-decoration: line-through;
        }
        .btn {
          padding-top: 8px;
          background-color: #def9ec;
          border-radius: 5px;
          width: 35px;
          height: 30px;
          cursor: pointer;
          .cart {
            color: var(--green02);
            font-size: 0.1rem;
          }
        }
      }
    }
  }
}

@media (width: 375px) {
  .productCard {
    .CardImg {
      width: 166px;
      height: 129px;
      border-radius: 5px;
    }
    .img {
      width: 210px;
      height: 178px;
    }
    white-space: nowrap;
    width: 166px;
    border: var(--gray02) solid 1px;
    border-radius: 5px;
    .product-info {
      padding: 10px 15px;
      .product-name {
        max-width: 150px; /* 根據你的實際需求調整寬度 */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--black);
        font-size: 0.9rem;
      }

      .stars-row {
        .favorite-btn {
          background: none;
          color: var(--green03);
        }
        .score {
          color: var(--gray01);
          font-size: 0.8rem;
        }
        .star {
          color: var(--yellow02);
          font-size: 0.7rem;
        }
      }
      .product-price {
        .price {
          color: var(--green02);
          font-size: 0.9rem;
          font-weight: 700;
        }
        .price-buy {
          .original-price {
            font-size: 0.8rem;
            font-weight: 700;
            color: var(--gray01);
            text-decoration: line-through;
          }
          .btn {
            padding-top: 2px;
            background-color: #def9ec;
            border-radius: 5px;
            width: 30px;
            height: 22px;
            cursor: pointer;
            .cart {
              color: var(--green02);
              font-size: 0.1rem;
            }
          }
        }
      }
    }
  }
}
