/* typography */
.figma-h3 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.313%;
}

.figma-h4 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h5 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h6 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  letter-spacing: 0.96px;
}

.figma-p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.313%;
}

.top {
  gap: 20px;
  @media screen and (max-width: 376px) {
    gap: 10px;
  }
  .pic {
    padding-top: 49px;
    height: 700px;
    margin-bottom: 41px;
    img {
      border-radius: 10px;
    }
  }

  .top-main-info {
    padding: 0px 16px;
    .top-info-m {
      margin-inline: 0px;
      @media screen and (max-width: 376px) {
        gap: 5px;
      }
    }
    .info-left {
      gap: 6px;
      padding-left: 0;
      .title {
        @media screen and (max-width: 376px) {
          font-size: 24px;
        }
      }
      .left-bottom {
        gap: 10px;
        color: var(--gray01);
      }
    }
    .info-right {
      gap: 35px;
      .heart {
        cursor: pointer;
        padding-bottom: 25px;
        svg {
          width: 40px;
        }
      }
      .caption {
        color: var(--gray01);
      }
    }
  }
}
