/* typography */
.figma-h3 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.313%;
}

.figma-h4 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h5 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h6 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  letter-spacing: 0.96px;
}

.figma-p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.313%;
}

.related-products-section {
  padding: 30px 0px;
  @media screen and (max-width: 376px) {
    margin-inline: 0;
  }
  .related-ingredient-title-m {
    @media screen and (max-width: 376px) {
      font-size: 20px;
    }
  }
  .related-products {
    padding: 0;
    margin-top: 30px;
    border-radius: 5px;
    border-right: 2px solid var(--green05);
    border-bottom: 2px solid var(--green05);
    border-left: 2px solid var(--green05);
    .related-products-top {
      padding: 18px 50px;
      border-bottom: 1px solid var(--green05);
      background: rgba(222, 249, 236, 0.5);
      @media screen and (max-width: 376px) {
        padding: 18px 15px;
      }
      .top-left {
        gap: 5px;
        input[type="checkbox"] {
          appearance: none;
          width: 20px;
          height: 20px;
          margin-right: 5px;
          border: 2px solid var(--green02);
          border-radius: 3px;
          &:hover {
            border: 2px solid var(--green03);
          }
        }
        .check-all {
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%; /* 25px */
          letter-spacing: 1.2px;
          color: var(--green02);
          margin-bottom: 0;
          @media screen and (max-width: 376px) {
            font-size: 16px;
          }
        }
      }
      .top-right {
        gap: 82px;
        p {
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 125%; /* 25px */
          letter-spacing: 1.2px;
          color: var(--gray01);
          margin-bottom: 0;
        }
      }
    }
    .related-products-middle {
      padding: 15px 50px;
      border-bottom: 2px solid var(--green05);
      @media screen and (max-width: 376px) {
        padding: 15px 15px;
      }
      .middle-left {
        gap: 10px;
        @media screen and (max-width: 376px) {
          gap: 20px;
        }
        input[type="checkbox"] {
          appearance: none;
          flex: 0 0 20px;
          height: 20px;
          margin-right: 5px;
          border: 2px solid var(--green02);
          border-radius: 3px;
          &:hover {
            border: 2px solid var(--green03);
          }
        }
        .product-pic {
          width: 145px;
          height: 150px;

          img {
            border-radius: 10px;
          }
        }
        .product-description {
          .product-name {
            @media screen and (max-width: 376px) {
              font-size: 16px;
            }
          }
          .portion-and-price {
            p {
              color: var(--gray01);
              margin-bottom: 0;
              @media screen and (max-width: 376px) {
                font-size: 12px;
              }
            }
          }
        }
      }
      .middle-right {
        gap: 60px;
        @media screen and (max-width: 376px) {
          margin-left: 80px;
          margin-top: 15px;
        }
        .quantity {
          border-radius: 5px;
          border: 2px solid var(--green05);
          button {
            background: none;
            border: none;
            color: var(--green02);
          }
          p {
            color: var(--black);
            margin-bottom: 0;
          }
        }
        .subtotal {
          color: var(--black);
          margin-bottom: 0;
        }
      }
    }
    .related-products-bottom {
      padding: 10px 24px;
      .total {
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 1.2px;
        margin-bottom: 0;
        @media screen and (max-width: 376px) {
          font-size: 16px;
        }
      }
      button {
        @media screen and (max-width: 376px) {
          font-size: 16px;
        }
        svg {
          width: 20px;
          height: 20px;
        }
        background: var(--green02);
        border: none;
        padding: 10px 15px;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 1.2px;
      }
    }
  }
}
