/* typography */
.figma-h3 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.313%;
}

.figma-h4 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h5 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h6 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  letter-spacing: 0.96px;
}

.figma-p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.313%;
}

.recommended-recipes-title-m {
  @media screen and (max-width: 376px) {
    font-size: 20px;
  }
}
.recipe-cards {
  right: 0;
  @media screen and (max-width: 376px) {
    margin-inline: 0;
    overflow: auto;
  }

  .recipe-card {
    gap: 11px;
    cursor: pointer;
    .card-pic {
      width: 403px;
      height: 280px;
      @media screen and (max-width: 376px) {
        height: 145px;
      }
      img {
        border-radius: 5px;
      }
    }
    .card-content {
      gap: 11px;
      .recipe-name {
        @media screen and (max-width: 376px) {
          font-size: 16px;
        }
      }
      .recipe-description {
        max-width: 210px;
        @media screen and (max-width: 376px) {
          font-size: 16px;
        }
        &.truncate {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          /* 從第三行開始顯示ellipsis */
          -webkit-line-clamp: 3; /* 指定要显示的行数 */
        }
      }
    }
  }
}

.pagination {
  margin-top: 50px;
  @media screen and (max-width: 376px) {
    margin-top: 0px;
  }
  .page {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background: var(--gray01);
    &.current {
      background: var(--green02);
    }
  }
}
