.container {
  display: flex;
  flex-direction: column;
  padding-block: 40px;
  gap: 30px;
  @media (max-width: 375px) {
    width: 375px;
    padding: 20px 0px;
    gap: 10px;
  }
}
.title {
  display: flex;
  justify-content: center;
  & h3 {
    font-size: 32px;
    @media (max-width: 375px) {
      font-size: 24px;
    }
  }
}
.speakerCardContainer {
  display: flex;
  flex-direction: column;
  padding-inline: 120px;
  @media (max-width: 375px) {
    padding-inline: 15px;
  }
  & .speakerGroup {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: 30px;
    @media (max-width: 375px) {
      /* 使用 wrap 之後換行的間隔用 speaker 卡片的 margin-bottom 打開 */
      flex-wrap: wrap;
      margin-bottom: 0px;
    }
  }
}
