body {
  margin: 0;
}
/* image part */
.card-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 990px;
  gap: 40px;
  display: flex;
  align-items: center;
  gap: auto;
  padding: 15px 30px 15px 15px;
  align-self: stretch;
  border-radius: 5px;
  border-right: 1px solid var(--gray02, #d9e1e6);
  border-bottom: 1px solid var(--gray02, #d9e1e6);
}

.image-wrapper {
  width: 270px;
  height: 179px;
  border-radius: 5px;
  overflow: hidden;
}
.class-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* image part */

.truffled-rice-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  margin: auto 0;
  padding: 2px 0;
  width: 100%;
  max-width: 637px;
  gap: 32.5px;
}

.truffled-rice-header {
  color: var(--gray03, #454545);
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  line-height: 120%;
  white-space: nowrap;
}

.truffled-rice-title {
  margin: 0;
}

.truffled-rice-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .truffled-rice-description {
    width: 100%;
    width: 480px;
    text-wrap: wrap;
    margin: 0;
    /* font style */
    color: var(--gray03, #454545);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120.313%;
  }
  .truffled-rice-pricing {
    width: 100%;
    width: 140px;
    display: flex;
    justify-content: space-around;
    vertical-align: bottom;
    .truffled-rice-price {
      margin: 0;
      /* font style */
      color: var(--green-01, var(--green02, #50bf8b));
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 120.313%;
    }
    .truffled-rice-original-price {
      margin: 8px 0 0 0;
      color: var(--gray01, #919da6);
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 120.313%;
      text-decoration-line: line-through;
    }
  }
}

/* third part */
.truffled-rice-meta {
  color: var(--gray01, #747e85);
  display: flex;
  flex: 1;
  font-size: 12px;
  font-weight: 500;
  gap: 20px;
  justify-content: space-between;
  line-height: 120%;
  margin: auto 0 auto 0;
}

.class-infromations {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.class-sub-information {
  align-items: center;
  background-color: #fff;
  display: flex;
  margin-top: 16px;
  gap: 2px;
  justify-content: center;
}

.class-sub-information-text {
  font-family: Inter, sans-serif;
}

.class-sub-information {
  align-items: center;
  background-color: #fff;
  display: flex;
  margin-top: 16px;
  gap: 2px;
  justify-content: center;
}

.class-sub-information-text {
  font-family: Inter, sans-serif;
}

.truffled-rice-actions {
  color: #fff;
  display: flex;
  font-weight: 600;
  gap: 16px;
  white-space: nowrap;
}

.links-buttons {
  background-color: var(--green02, #50bf8b);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  gap: 4px;
  padding: 6px 16px;
  text-decoration: none;
  .links-buttons-icon {
    margin-top: 1px;
  }
  .link-button-text {
    margin-top: 3px;
  }
}

.infromation-icons {
  margin-bottom: 2px;
}
/* third-part */

.heart-icon {
  cursor: pointer;
  fill: var(--gray01, #747e85);
  transition: fill 0.3s ease;
}

.heart-icon.active {
  fill: #ff4d4d;
}
