body {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 50px;
}
.class-detail-and-links {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  .class-image-container {
    width: 567px;
    height: 433px;
    border-radius: 20px;
    overflow: hidden;
    .class-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .class-informations {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 26px;
    gap: 33px;
    .class-name {
      color: var(--light-green, rgba(56, 142, 101, 0.7));
      text-overflow: ellipsis;
      margin: 0;
      /* H3 */
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 900;
      line-height: 120.313%;
    }
    .class-mobile-select-group {
      display: none;
      gap: 15px;
      .class-mobile-select-active {
        border-radius: 5px;
        border: #56b77e;
        outline: none;
        width: 102px;
        height: 29px;
        /* padding: 10px 20px; */
        /* style */
        color: #ffffff;
        background-color: #56b77e;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120.313%;
      }
      .class-mobile-select {
        border-radius: 5px;
        border: 1px solid var(--light-green, rgba(56, 142, 101, 0.7));
        outline: none;
        width: 102px;
        height: 29px;
        /* padding: 10px 20px; */
        /* style */
        color: var(--light-green, rgba(56, 142, 101, 0.7));
        background-color: transparent;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120.313%;
      }
    }
    .class-information-container {
      display: flex;
      flex-direction: column;
      height: 215px;
      gap: 18px;
      padding: 10px;
      .class-infor {
        display: flex;
        width: 270px;
        gap: 30px;

        .infor-title {
          width: 120px;
          /* text-style */
          color: var(--black, var(--gray03, #454545));
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 120.313%;
        }
        .infor-detail {
          width: 120px;
          /* text-style */
          color: var(--green01, #547d63);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 120.313%;
        }
      }
    }
    .class-images-and-contents-web {
      display: none;
    }
    .class-links-container {
      display: flex;
      width: 270px;

      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      .link-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 135px;
        height: 32px;
        padding: 6px 16px;
        border-radius: 5px;
        background: #56b77e;
        border: none;
        gap: 4px;
        text-decoration: none;
        cursor: pointer;
        .link-text {
          margin: 0;

          color: var(--Shades-White, #fff);
          font-feature-settings: "clig" off, "liga" off;
          font-family: Manrope;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .class-detail-and-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    .class-image-container {
      width: 305px;
      height: 233px;
      margin-block: 20px;
    }
    .class-informations {
      gap: 0px;
      padding: 0;
      width: 305px;
      justify-content: start;
      .class-name {
        color: var(--gray03, #454545);
        text-overflow: ellipsis;
        margin-bottom: 20px;
        /* H4 */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120.313%;
      }
      .class-mobile-select-group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 20px;
      }
      .class-information-container {
        padding: 0;
        width: 100%;
        height: 172px;
        margin-bottom: 20px;
        .class-infor {
          gap: 16px;
          .infor-title {
            width: 84px;
            font-size: 16px;
          }
          .infor-detail {
            font-size: 16px;
            font-weight: 500;
            line-height: 120.313%;
          }
        }
      }
      .class-images-and-contents-web {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .image-text-set-web {
          .class-intro-image-container-web {
            width: 305px;
            height: 200px;
            overflow: hidden;
            border-radius: 15px;
            margin-block: 20px;
            .class-intro-image-web {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .class-links-container {
        width: 255px;
        padding-right: 50px;
        margin-bottom: 30px;
      }
    }
  }
}
.speaker-intro-and-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 41px;
  width: 866px;
  gap: 10px;
  .speaker-image {
    width: 180px;
    height: 180px;
  }
  .speaker-infor {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    .speaker-name-set {
      display: flex;
      flex-direction: column;
      .speaker-name {
        text-align: center;
        margin: 0;
        /* text-style */
        color: var(--black, var(--gray03, #454545));
        /* H4 */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120.313%;
      }
      .speaker-sub-name {
        text-align: center;
        margin: 0;
        /* text-style */
        color: var(--gray01, #747e85);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120.313%;
      }
    }
    .speaker-background-infor {
      /* text-style */
      color: var(--gray01, #747e85);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 137%;
    }
    .speaker-link-container {
      width: 100%;
      .speaker-detail-link {
        display: flex;
        justify-content: end;
        text-decoration: none;
        /* style */
        color: var(--green02, var(--green02, #50bf8b));
        font-feature-settings: "clig" off, "liga" off;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        gap: 4px;
        cursor: pointer;
        .speaker-link-icon {
          margin-top: 2px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .speaker-intro-and-link {
    display: none;
  }
}

.class-images-and-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 907px;
  .image-text-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .class-intro-image-container {
      width: 855px;
      height: 623px;
      overflow: hidden;
      border-radius: 20px;
      margin-block: 40px;
      .class-intro-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .class-intro-text {
      width: 757px;
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 375px) {
  .class-images-and-contents {
    display: none;
  }
}
