
/* 全域 */
.wrapper {
  width: 1440px;
}

.container {
  background-color: var(--white, #fefefe);
  /* display: flex; */
  /* 容器頂部開始垂直排列，而不是水平排列 */
  /* flex-direction: column; */

  /*1440 左右兩邊間距為 100px */
  padding: 0px 0px;
}
@media (max-width: 375px) {
  .header-375 {
    display: none;
  }
  .side-bar{
    display: none;
  }
  .discount-title-main{
    display: none;
  }
  .discount-box-main{
    display: none;
  }
   /*排版*/
   .container {
    padding: 0 10px;
  }

  .wrapper {
    width: 100%;
  }
}

/* <!-- 假麵包屑 --> */
.Bread-crumbs {
  height: 40px;
  background-color: var(--green03);
}

@media (max-width: 375px) {
  .Bread-crumbs {
    height: 30px;
  }
}

.top-40 {
  /* border: #454545 solid 1px; */
  margin-top: 40px;
}

/* 分類side-bar */
/* side-bar總width */
.side-bar {
  width: 250px;
  margin-right: 40px;
}
.line {
  position: absolute;
  top: 290px;
  width: 80px;
  margin-inline: 10px;
  height: 5px;
  background: var(--green05);
}

.side-title {
  width: 209px;
  height: auto;
  margin: 10px;

  & h5 {
    padding-bottom: 15px;
    font-weight: 700;  
  }

}
.line {
  /* 將底線設為從左到右漸變 */
  margin: 10px;
  width: 205px;
  height: 4px;
  background: linear-gradient(
      to right,
      var(--green03) 30%,
      #d9e1e6c3 30%
    );
}


.side-bar-box {
  width: auto;
  height: auto;
  margin-bottom: 66px;
  border: var(--gray02) solid 1px;
  border-radius: 5px;
  /*水平右,下,模糊化*/
  box-shadow: 2px 2px 2px var(--gray02);
  /*陰影化*/


  & .side-box {
    width: 209px;
    height: 45px;
    margin: 10px;
    border: var(--gray02) solid 1px;
    border-radius: 5px;

    & .side-img {
      width: 35px;
      height: 35px;
      margin: 3px;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .side-text {
      display: flex;
      width: 150px;
      height: auto;

      & a ,h6 {
        text-decoration: none;
        padding-inline: 3px;
        margin-block: auto;
        /* 水平置中 */
      }
    }

    .side-text .left {
      margin-right: auto;
      /* 靠右 */
    }

    .side-text .right {
      margin-left: auto;
      /* 靠左*/
      /* height: 20px;
      width: 20px; */
      /* border: #000 solid 1px; */
      /* background-color: var(--green03); */
      /* border-radius: 50%; */
      /* align-items: center; */
      /* justify-content: center; */
    }
  }
}

/* 熱門商品side-bar */

& .hot-box {
  width: 209px;
  height: 91px;
  margin: 10px;
  border-bottom: var(--gray01) solid 2px;
}

& .hot-img {
  width: 81px;
  height: 81px;
  padding-bottom: 5px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

& .hot-text {
  width: auto;
  height: auto;
  margin-block: auto;
  & a {
    text-decoration: none;
  }

  /*垂直置中*/
  & h6 {
    padding-left: 10px;
    font-weight: 700;
  }

  & .hot-title {
    color: var(--green02);
    
  }
}

.hot-line{
  margin-inline: 10px;
  width: 205px;
  height: 4px;
  background: linear-gradient(
      to right,
      var(--green03) 30%,
      #d9e1e6c3 30%
    );
}

/* .<!-- product (上方限時特惠商品) --> */
.discount-title{
  color: var(--green02);
  font-weight: 600;
}

.discount-box {
  background-color: #b3b3b3;
  width: auto;
  height: 420px;

  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* 總共 #項商品 排序 */
.count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--green05, #def9ec);
  width: 100%;
  max-width: 1000px;
  color: var(--light-green, rgba(56, 142, 101, 1));
  border-radius: 5px;
  margin-block: 30px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 120%;
}

@media (max-width: 375px) {
  .product-count-container {
    background-color: transparent;
    padding-inline: 15px;
    margin-block: 10px;
  }
}

.product-count-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-block: 0px;
  padding-left: 10px;
  gap: 10px;
}

.total-products {
  margin: auto 0;
  font-family: Inter, sans-serif;
  font-weight: 700;
}
@media (max-width: 375px) {
  .product-count-header {
    padding-inline: 0;
  }
  .total-products {
    display: none;
  }
  .top-40 {
    margin-top: 5px;
  }
}

.product-count-controls {
  display: flex;
  justify-content: end;
  gap: 16px;
  padding: 1px 0;
  font-weight: 400;
}

@media (max-width: 375px) {
  .product-count-controls {
    gap: 10px;
  }
}

.celander-mobile {
  display: none;
  border: none;
  background: none;
  padding: 0;
  /* cursor: pointer; 手機不用*/
}

@media (max-width: 375px) {
  .celander-mobile {
    display: block;
  }
}

.items-per-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 2px 9px;
  gap: 10px;
  text-align: center;
  white-space: nowrap;
}

@media (max-width: 375px) {
  .items-per-page {
    display: none;
  }
}

.items-per-page-value {
  margin: auto 0;
  font-family: Inter, sans-serif;
}

.number-increase-decrease {
  display: flex;
  flex-direction: column;
  gap: 2px;
  .select-btn {
    height: 9px;
    padding: 0px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    .select-btn-icon {
      margin-bottom: 12px;
    }
  }
}

.sort-by {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: start;
  background-color: #fff;
  border-radius: 5px;
  padding: 4px 20px;
  gap: 10px;
  cursor: pointer;
  /* limit width */
}

@media (max-width: 375px) {
  .sort-by {
    width: 120px;
    border: 1px solid var(--gray-300, #dee2e7);
    color: #636e72;
    padding-inline: 10px 6px;
    border-radius: 7px;
  }
  .sort-by-label {
    display: none;
  }
}

.sort-by-value {
  text-align: center;
  font-family: Inter, sans-serif;
}
.sort-mobile {
  display: none;
  margin-bottom: 3px;
}
@media (max-width: 375px) {
  .sort-by-value {
    width: 90px;
    overflow: hidden;
    margin-top: 3px;
    text-wrap: nowrap;
  }
  .sort-mobile {
    display: block;
  }
  .sort-order {
    display: none;
  }
}

.sort-by-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 1;
}

.sort-by-option {
  padding: 5px 20px;
  font-family: Inter, sans-serif;
  cursor: pointer;
}

.sort-by-option:hover {
  background-color: #f5f5f5;
}

.sort-by.open .sort-by-options {
  display: block;
}

/* class-selections-mobile-only */
.class-select {
  position: relative;
  display: none;
  align-self: start;
  background-color: #fff;
  border-radius: 5px;
  padding-block: 4px;
  gap: 6px;
  cursor: pointer;
  /* only for mobile */
  border: 1px solid var(--gray-300, #dee2e7);
  padding-inline: 10px 6px;
  border-radius: 7px;
}

@media (max-width: 375px) {
  .class-select {
    display: flex;
    justify-content: center;
    .class-select-label {
      color: #636e72;
      margin-top: 3px;
    }
  }
}
/* class-selections-mobile-only */

.grid-row-selections {
  display: none;
  width: 68px;

  .grid-btn {
    width: 34px;
    height: 37px;
    padding: 2px 0px;
    background-color: transparent;
    border: 1px solid var(--gray-300, #dee2e7);
    border-radius: 7px 0 0 7px;
    .selection-btn {
      margin-top: 2px;
      margin-left: 1px;
    }
  }
  .row-btn {
    width: 34px;
    height: 37px;
    padding: 2px 0px;
    background-color: transparent;
    border: 1px solid var(--gray-300, #dee2e7);
    border-radius: 0 7px 7px 0;
    .selection-btn-list {
      margin-right: 1px;
    }
  }
}

@media (max-width: 375px) {
  .grid-row-selections {
    display: flex;
  }
}




/*product card 商品卡片*/
/* 商品總width */
.product-w {
  /* border: #454545 solid 1px; */
  width: 915px;
}

.icon-button {
  border: none;
  padding: 0;
  background: none;
  /* 移除背景色 */
  cursor: pointer;
}
.star-color {
  color: var(--yellow02);
}

.heart-color{
  color: var(--green02);
}

.product-card1 {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.card1 {
  width: 210px;
  height: 300px;
  border: 1px solid var(--gray02);
  border-radius: 5px;
}

.card1-img {
  width: auto;
  height: 178px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card1-body {
  display: flex;
  /* 垂直方向排列 */
  flex-direction: column;
  margin-inline: 10px;
  & h5{
    font-weight: 700;
  }
  & .card1-title a {
    color: var(--black);

    &:hover {
      text-decoration: none;
    }
  }
}

.card1-btn {
  position: relative;
  width: 30px;
  height: 25px;
  border-radius: 5px;
  background-color: var(--green05);

  &:hover {
    text-decoration: none;
    color: #000;
  }

  & i {
    color: var(--green02);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

.card1-heart{
  margin: 10px 0px 5px 0px;
}

.icon-button[disabled] {
  cursor: auto;
}

.card1-text {
  margin-block: 0px;
 
  & h6 {
    color: var(--green03);
    font-size: 14px;
    margin-top: 5px;
    font-weight: 700;
  }

  & p {
    /* 橫線 */
    text-decoration: line-through;
    margin-top: 6px;
    font-weight: 600;
  }

}
@media (max-width: 375px) {
  .icon-button {
    border: none;
    padding: 0;
    background: none;
    /* 移除背景色 */
    cursor: pointer;
  }
  
  .product-card1 {
    display: flex;
    justify-content: center;
    gap: auto;
    row-gap: 10px;
    flex-wrap: wrap;
  }
  
  .card1 {
    width: 166px;
    height: 240px;
    border: 1px solid var(--gray02);
    border-radius: 5px;
  }
  
  .card1-img {
    width: auto;
    height: 129px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .card1-body {
    display: flex;
    /* 垂直方向排列 */
    flex-direction: column;
    margin-inline: 10px;
    & h5{
      text-align: center;
    }
    & .card1-title a {
      color: var(--black);
  
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  .card1-btn {
    position: relative;
    width: 30px;
    height: 25px;
    background-color: var(--green05);
  
    &:hover {
      text-decoration: none;
      color: #000;
    }
  
    & i {
      color: var(--green01);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
    }
  }
  
  .card1-heart{
    margin: 0px;
    margin-top: 5px;
  }
  .heart-icon {
    align-items: center;
    justify-content: center;
  
  }
  
  .card1-text {
    margin: 0px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
  
    & h6 {
      color: var(--green03);
      font-size: 12px;
    }
  
    & p {
      /* 橫線 */
      text-decoration: line-through;
    }
  }
  
}