/* 分類side-bar */
/* side-bar總width */

.sideBox {
  border: var(--green03) solid 1.2px;
  border-radius: 5px;
  // background-color: var(--green05);
  .discountText {
    color: var(--green03);
  }
  .amount {
    color: var(--green02);
  }
}
.sideBox:hover {
  // border: var(--green05) solid 3px;
  // box-shadow: 0px 3px 10px 0.5px var(--green05);
  background-color: var(--green05);
  color: var(--white);
  // transition: 0.3s;
}
