.sideBarBox {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 260px;
  padding: 25px;
  margin-bottom: 66px;
  // border: var(--gray02) solid 1px;
  border-radius: 20px;
  /*水平右,下,模糊化*/
  box-shadow: 1px 1px 10px var(--gray03);
  /*陰影化*/
}

.sideTitle {
  margin: 0;
  & h5 {
    padding-bottom: 5px;
    /* 將底線設為從左到右漸變 */
  }
}

.line {
  height: 4px;
  background: linear-gradient(to right, var(--green03) 30%, #d9e1e6c3 30%);
}

/* 隐藏原生复选框 */
.custom-checkbox {
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* 创建自定义复选框外观 */
.custom-checkbox::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 2px solid #3bb77e;
  content: "";
  border-radius: 3px;
}

/* 当复选框被选中时改变背景和图标 */
.custom-checkbox input[type="checkbox"]:checked::before {
  background-color: #3bb77e;
  border-color: #3bb77e;
}

/* 可选：为选中状态添加勾选符号 */
.custom-checkbox input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 4px; /* 調整位置 */
  top: 1px; /* 調整位置 */
  width: 6px; /* 調整大小 */
  height: 11px; /* 調整大小 */
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.on {
  color: gold;
}

.off {
  color: gray;
}

.good-style {
  color: red;
}

.star-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.faLeafOff {
  color: var(--green05);
  font-size: 1.3rem;
}

.faLeafOn {
  color: var(--green02);
  font-size: 1.3rem;
}

.clearFilter {
  border: solid 1px var(--green02);
  color: var(--green02);
}
.clearFilter:hover {
  background-color: var(--green02);
  color: var(--white);
}
