.sideBarBox {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  padding: 25px;
  margin-bottom: 66px;
  /* border: var(--gray02) solid 1px; */
  border-radius: 20px;
  /*水平右,下,模糊化*/
  box-shadow: 1px 1px 10px var(--gray03);
  /*陰影化*/
}

.sideTitle {
  margin: 0;
  & h5 {
    padding-bottom: 5px;
    /* 將底線設為從左到右漸變 */
  }
}

.line {
  height: 4px;
  background: linear-gradient(to right, var(--green03) 30%, #d9e1e6c3 30%);
}
