/* <!-- Nutripoll-card4 熱銷商品 --> */
.Nutripollcard4 {
    display: flex;
    padding: 33px 0px;
    justify-content: space-between;
    row-gap: 33px;
    flex-wrap: wrap;
  }
  
  .card4 {
    width: 180px;
    border: 1px solid var(--gray02);
    border-radius: 5px;
  }
  
  .card4Img {
    width: 100%;
    height: 170px;
  
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .card4Body {
    display: flex;
    /* 垂直方向排列 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    & .card4Title a {
      color: var(--black);
      text-decoration: none;
      font-size: 16px;
      display: flex;
  
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  
  .card4Btn {
    color: var(--green03);
    text-decoration: none;
    font-size: 14px;
   
    &:hover {
      text-decoration: none;
      color: var(--black);
    }
  }
  
  .card4Text {
    height: 20px;
    & h6 {
      font-size: 16px;
      color: var(--green03);
    }
  
    & p {
      /* 橫線 */
      text-decoration: line-through;
      font-size: 14px;
    }
  }

  /* <!-- Nutripoll-card4 熱銷商品(RWD) --> */
  
  @media (max-width: 375px) {
    .card4 {
      width: 170px;
      border: 1px solid var(--gray02);
      border-radius: 5px;
    }
    
    .card4Img {
      width: 100%;
      height: 170px;
    
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  