.card5-title {
    padding: 0px 0px 35px 0px;
  }
  
  .card5 {
    border: 1px solid var(--gray02);
    border-radius: 5px;
    margin-bottom: 35px;
  }
  
  .card5Img {
    width: 380px;
    height: 275px;
    display: flex;
    flex-direction: column;
    
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px 0px 0px 5px;
    }
  }

  .card5TextRwd{
    /* width: 100px; */
    height: auto;
    /* margin-left: 75px; */
    padding-top: 5px;
    & h5{
      font-size: 18px;
      font-weight: 700;
      overflow: hidden;
      /* 超出部分隐藏 */
      text-overflow: ellipsis;
      /* 超出部分省略 */
      display: -webkit-box;
      /* 這個屬性告訴瀏覽器將元素顯示為一個或多個內聯框 */
      -webkit-box-orient: vertical;
      /* 垂直方向排列 */
      /* 當使用這個屬性時，可以結合其他屬性來控製文字的顯示方式 */
      -webkit-line-clamp: 1;
      /* 顯示的行數 */
      
    }
  }
  
  .card5Text {
    display: flex;
    flex-direction: column;
    padding-block: 3px;
    color: var(--black, #454545);
    width: 345px;
    margin-left: 20px;
    padding-right: 10px;
  
    & .BorderP {
      overflow: hidden;
      /* 超出部分隐藏 */
      text-overflow: ellipsis;
      /* 超出部分省略 */
      display: -webkit-box;
      /* 這個屬性告訴瀏覽器將元素顯示為一個或多個內聯框 */
      -webkit-box-orient: vertical;
      /* 垂直方向排列 */
      /* 當使用這個屬性時，可以結合其他屬性來控製文字的顯示方式 */
      -webkit-line-clamp: 3;
      /* 顯示的行數 */
      font-size: 14px;
      margin-bottom: 0.5rem;
    }
  
    & .card5P {
      border-top: var(--yellow03) 1px solid;
      padding: 10px 0px 0px 0px;
      font-weight: 600;
      font-size: 14px;
      & p{
        margin-bottom: 5px;
      }
  
      & .LineP {
        /* 橫線 */
        text-decoration: line-through;
      }
  
      & .ColorP {
        color: var(--green02);
        font-size: 16px;
        font-weight: 500;
      }
    }
  
    & h6 {
      color: var(--yellow03);
      font-size: 14px;
      font-weight: 500;
    }
  }
  
  .card5Btn {
    background-color: var(--green03) !important;
    border: 0px !important;
  
    &:hover {
      background-color: var(--green02) !important;
    }
  }

  @media (max-width: 375px) {
      
    .card5Btn {
        display: none !important;
      }

    .card5 {
      width: 345px;
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-right: 80px;
    }
    
    .card5Img {
      width: 131px;
      height: 139px;
      display: flex;
      flex-direction: column;
      border-radius: 5px 0px 0px 5px;
    
      & img {
        width: 100%;
        height: 100%;
        object-fit: hidden;
      }
    }
    
    .card5Text {
      display: flex;
      flex-direction: column;
      padding-block: 0px;
      color: var(--black, #454545);
      width: 215px;
      margin-left: 5px;
      padding-right: 10px;
      justify-content: center;
      
  
      &.card5TextRwd {
      padding-top: 0px;
      display: flex;
      width: 215px;
      height: auto;
      margin-left: 0px;
      & h5{
        font-weight: 700;
        overflow: hidden;
        /* 超出部分隐藏 */
        text-overflow: ellipsis;
        /* 超出部分省略 */
        display: -webkit-box;
        /* 這個屬性告訴瀏覽器將元素顯示為一個或多個內聯框 */
        -webkit-box-orient: vertical;
        /* 垂直方向排列 */
        /* 當使用這個屬性時，可以結合其他屬性來控製文字的顯示方式 */
        -webkit-line-clamp: 1;
        /* 顯示的行數 */
      }
    }
    
      & .BorderP {
        display: none;
      }
    
      & .card5P {
        border-top: none;
        padding: 10px 0px 10px 0px;
        & p{
          margin-bottom: 0px;
        }
    
        & .LineP {
          /* 橫線 */
          text-decoration: line-through;
        }
    
        & .ColorP {
          color: var(--green02);
        }
      }
      .lectureTime{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      & h6 {
        font-size: 12px;
      }
    }
    
  }

