/* <!-- Nutripoll-card3 商品分類 --> */

.arrow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card3boxLink{
    text-decoration: none;
    &:hover .card3box{
      transform: translateY(-3px);
      box-shadow: 0 4px 5px #ccc;
      transition: 0.5s;
    }
  }
  .card3box {
    width: 125px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green05);
    border-radius: 10px;
    box-shadow: 0 2px 4px #ddd;
  }
  .card3CategoryContent{
    display:flex;
    flex-direction: column;
    & h6 {
      text-align: center;
      color: var(--black);
      font-weight: 600;
      font-size:18px;
    }
  }
  
  /* <!-- Nutripoll-card3 商品分類 (RWD)--> */
  @media (max-width: 375px) {
    .category-rwd{
      display: none;
    }

    .Nutripollcard3 {
      display: none !important;
    }
  }
  