/* hero */
  
  /* 選中狀態下的樣式 */
  .selectedPage {
    background: var(--green03);
  }

.Hero{
    max-width: 1440px;
    margin: auto;
    padding-bottom: 36px;
    gap: 404px;
  }
  
  .slider{
    height: 800px;
    background: #000;
    overflow: hidden;
  }
  
  .slideImage{
    left: 0px;
    transition: .6s;
  
    & li {
      width: 1440px;
      height: 800px;
      flex: 1 0 0;
  
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  .pages{
    bottom: 0.8rem;
    margin-bottom: 0;
  
    & li {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.15)
      ;
      margin-inline: 4px;
      cursor:pointer;
    }
  }
  .slideBtn{
      top: 0;
      bottom: 0;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      opacity: .5;
    
      &:hover {
        opacity: 1;
      }
      & i {
        color: #fff;
        font-size:32px;
      }
  }
  .slideBtnLeft{
    left:20px;
  }
  .slideBtnRight{
    right: 20px;
  }
 .pages .current{
  width: 32px;
    background: rgba(56, 142, 101, 0.7);
 }
  /*Hero (RWD)*/
  @media (max-width: 375px) {
  .Hero {
    width: auto;
  }

  .slider {
    height: 203px;
    background: #000;
    overflow: hidden;
  }
  .pages{
    bottom: 0.4rem;
    margin-bottom: 0;}
  .slideImage {
    left: 0px;
    transition: .4s;

    & li {
      width: 375px;
      height: 203px;
      flex: 1 0 0;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .slideBtn{
    & i {
      color: #fff;
      font-size: 20px;
    }
}
.slideBtnLeft{
  left:8px;
}
.slideBtnRight{
  right: 8px;
}
}