/* hero */
.page {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--green03);
    margin-inline: 4px;
    cursor: pointer;
  }
  
  /* 選中狀態下的樣式 */
  .selectedPage {
    background: var(--green03);
  }

.Hero{
    max-width: 1920px;
    margin: auto;
    padding: 36px 0px;
    gap: 404px;
  }
  
  .slider{
    height: 905px;
    background: #000;
    overflow: hidden;
  }
  
  .slideImage{
    left: 0px;
    transition: .4s;
  
    & li {
      height: 905px;
      flex: 1 0 0;
  
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  .pages{
    bottom: 0.8rem;
    margin-bottom: 0;
  
    & li {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid var(--green03);
      ;
      margin-inline: 4px;

    }
  }
  
  /* .slideBtn{
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    opacity: .5;
  
    &:hover {
      opacity: 1;
      background: rgba(0, 0, 0, .5);
    }
  
    & i {
      color: #fff;
    }
  } */
  
  /*Hero (RWD)*/
  @media (max-width: 375px) {
  
    
  .Hero {
    width: auto;
  }

  .slider {
    height: 203px;
    background: #000;
    overflow: hidden;
  }

  .slideImage {
    left: 0px;
    transition: .4s;

    & li {
      height: 203px;
      flex: 1 0 0;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .pages {
    bottom: 0.8rem;
    margin-bottom: 0;

    & li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid var(--green03);
      ;
      margin-inline: 4px;

      &.current {
        background: var(--green03);
      }
    }
  }
}