<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="recipe-detail-top.css" />
  </head>

  <body>
    <div class="container d-flex flex-column">
      <div class="pic w-100">
        <img
          class="img-fluid object-fit-cover h-100"
          src="./5c57291e6ab0e7566941547a0cb18048.jpg"
          alt=""
        />
      </div>
      <div class="main-info d-flex justify-content-between">
        <div class="info-left d-flex flex-column">
          <p class="figma-h3">綠咖哩牛肉</p>
          <div class="left-bottom d-flex">
            <p class="figma-p">分類：主食 / 2023-10-08</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="15"
              viewBox="0 0 16 15"
              fill="none"
            >
              <path
                d="M14.0454 1.37628C12.3805 -0.0117086 9.9045 0.237952 8.37635 1.7805L7.77785 2.38384L7.17935 1.7805C5.65423 0.237952 3.17516 -0.0117086 1.5103 1.37628C-0.397615 2.96935 -0.497872 5.82856 1.20953 7.55538L7.0882 13.4937C7.46796 13.8771 8.08469 13.8771 8.46445 13.4937L14.3431 7.55538C16.0536 5.82856 15.9533 2.96935 14.0454 1.37628Z"
                fill="#C14D3C"
              />
            </svg>
          </div>
        </div>
        <div class="info-right d-flex">
          <div class="small-card">
            <div class="person">
              <img src="../../public/recipe-images/person.svg" alt="" />
            </div>
            <p class="figma-p caption">3人份</p>
          </div>
          <div class="small-card">
            <div class="tableware">
              <img src="../../public/recipe-images/tableware.svg" alt="" />
            </div>
            <p class="figma-p caption">8樣食材</p>
          </div>
          <div class="small-card">
            <div class="clock">
              <img src="../../public/recipe-images/clock.svg" alt="" />
            </div>
            <p class="figma-p caption">30分鐘</p>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
