/* typography */
.figma-h3 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.313%;
}

.figma-h4 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h5 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h6 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  letter-spacing: 0.96px;
}

.figma-p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.313%;
}

@media screen and (max-width: 376px) {
  .container {
    max-width: 345px;
    padding: 0px;
  }
}

.top-bar {
  margin: 15px 0px;
}
.top-bar .btn-sort {
  border-radius: 5px;
  border: 1px solid var(--gray03);
}
.top-bar .btn-sort .sort {
  flex: 1 0 25px;
  font-size: 13px;
}
.top-bar .btn-filter {
  border-radius: 5px;
  border: 1px solid var(--gray03);
}
.top-bar .btn-filter .category {
  flex: 1 0 45px;
  font-size: 13px;
}
.top-bar .switch-card-qty {
  border-radius: 5px;
  border: 1px solid var(--gray03);
  padding: 0;
}
.top-bar .switch-card-qty .switch-grid {
  padding: 5px;
  border-right: 1px solid var(--gray03);
}
.top-bar .switch-card-qty .switch-row {
  padding: 5px;
  background: var(--gray03);
}

.top-bar-grid {
  margin: 15px 0px;
}
.top-bar-grid .btn-sort {
  border-radius: 5px;
  border: 1px solid var(--gray03);
}
.top-bar-grid .btn-sort .sort {
  flex: 1 0 25px;
  font-size: 13px;
}
.top-bar-grid .btn-filter {
  border-radius: 5px;
  border: 1px solid var(--gray03);
}
.top-bar-grid .btn-filter .category {
  flex: 1 0 45px;
  font-size: 13px;
}
.top-bar-grid .switch-card-qty {
  border-radius: 5px;
  border: 1px solid var(--gray03);
  padding: 0;
}
.top-bar-grid .switch-card-qty .switch-grid {
  padding: 5px;
  border-right: 1px solid var(--gray03);
  background: var(--gray03);
}
.top-bar-grid .switch-card-qty .switch-row {
  padding: 5px;
}

.list-wrapper {
  gap: 120px;
}
@media screen and (max-width: 376px) {
  .list-wrapper {
    margin-inline: 0px;
  }
}
.list-wrapper .side-bar .side-bar-wrapper {
  border-radius: 20px;
  border: 1px solid var(--gray02);
  padding: 25px;
  gap: 20px;
}
.list-wrapper .side-bar .side-bar-wrapper .side-bar-top {
  gap: 15px;
  border-bottom: 3px solid var(--gray02);
}
.list-wrapper .side-bar .side-bar-wrapper .green-divider {
  border-bottom: 2px solid var(--green02);
  box-shadow: 0px 1px 0px 0px var(--green02);
  border-radius: 50px;
}
.list-wrapper .side-bar .side-bar-wrapper .side-card .side-card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.list-wrapper .side-bar .side-bar-wrapper .side-card .side-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 10px;
}
.list-wrapper .side-bar .side-bar-wrapper .side-card .side-card-date {
  font-size: 8px;
  color: var(--gray01);
}
.list-wrapper .list-layout .main-content {
  height: 1000px;
}
.list-wrapper .list-layout .main-content .recipe-card {
  padding: 15px;
  gap: 30px;
  border-radius: 5px;
  border-right: 1px solid var(--gray02);
  border-bottom: 1px solid var(--gray02);
}
@media screen and (max-width: 376px) {
  .list-wrapper .list-layout .main-content .recipe-card {
    gap: 0px;
  }
}
.list-wrapper .list-layout .main-content .recipe-card .card-pic img {
  border-radius: 5px;
}
@media screen and (max-width: 376px) {
  .list-wrapper .list-layout .main-content .recipe-card .card-pic {
    padding: 0;
  }
}
.list-wrapper .list-layout .main-content .recipe-card .recipe-title {
  color: var(--black);
}
.list-wrapper .list-layout .main-content .recipe-card .card-content-middle {
  color: var(--black);
}
.list-wrapper .list-layout .main-content .recipe-card .bottom-left .date {
  color: var(--gray01);
}
.list-wrapper .list-layout .main-content .recipe-card .bottom-left .recipe-category {
  color: var(--gray01);
}
@media screen and (max-width: 376px) {
  .list-wrapper .list-layout .main-content .recipe-card .bottom-left {
    margin-bottom: 10px;
  }
}
.list-wrapper .list-layout .main-content .recipe-card .btn-more-detail {
  border-radius: 5px;
  background: var(--green02);
  padding: 8px 15px;
  border: none;
}
@media screen and (max-width: 376px) {
  .list-wrapper .list-layout .main-content .recipe-card .btn-more-detail {
    font-size: 14px;
  }
}
.list-wrapper .grid-layout {
  margin: 0;
  padding: 0;
}
.list-wrapper .grid-layout .recipe-card {
  width: 165px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border-right: 1px solid var(--gray02);
  border-bottom: 1px solid var(--gray02);
  border-left: 1px solid var(--gray02);
}
.list-wrapper .grid-layout .recipe-card .card-pic {
  padding: 0;
}
.list-wrapper .grid-layout .recipe-card .card-content {
  padding: 10px 15px;
}
.list-wrapper .grid-layout .recipe-card .card-content .card-content-top .heart svg {
  height: 100%;
}
.list-wrapper .grid-layout .recipe-card .card-content .card-content-bottom .bottom-left .date {
  color: var(--gray01);
}
.list-wrapper .grid-layout .recipe-card .card-content .card-content-bottom .bottom-left .recipe-category {
  color: var(--gray01);
}
.list-wrapper .grid-layout .recipe-card .card-content .card-content-bottom .btn-more-detail {
  background: var(--green02);
  border: 0px;
}/*# sourceMappingURL=list.css.map */