/* typography */
.figma-h3 {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120.313%;
}

.figma-h4 {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h5 {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120.313%;
}

.figma-h6 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 20px */
  letter-spacing: 0.96px;
}

.figma-p {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.313%;
}

// custom styles
.container {
  @media screen and (max-width: 376px) {
    max-width: 345px;
  }
}

.top-bar {
  margin-block: 15px;
  .btn-sort {
    border-radius: 5px;
    border: 1px solid var(--gray03);
    .sort {
      flex: 1 0 25px;
      font-size: 13px;
    }
  }
  .btn-filter {
    border-radius: 5px;
    border: 1px solid var(--gray03);
    .category {
      flex: 1 0 45px;
      font-size: 13px;
    }
  }
  .switch-card-qty {
    border-radius: 5px;
    border: 1px solid var(--gray03);
    padding: 0;
    .switch-grid {
      padding: 5px;
      border-right: 1px solid var(--gray03);
    }
    .switch-row {
      padding: 5px;
      background: var(--gray03);
    }
  }
}

.list-wrapper {
  gap: 120px;
  .side-bar {
    border: 3px solid green;
    .side-bar-wrapper {
      border-radius: 20px;
      border: 1px solid var(--gray02);
      padding: 25px;
      gap: 20px;
      .side-bar-top {
        gap: 15px;
        border-bottom: 3px solid var(--gray02);
      }
      .green-divider {
        border-bottom: 2px solid var(--green02);
        box-shadow: 0px 1px 0px 0px var(--green02);
        border-radius: 50px;
      }
      .side-card {
        .side-card-title {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
        .side-card-description {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          font-size: 10px;
        }
        .side-card-date {
          font-size: 8px;
          color: var(--gray01);
        }
      }
    }
  }

  .main-content {
    height: 1000px;
    .recipe-card {
      padding: 15px;
      gap: 30px;
      border-radius: 5px;
      border-right: 1px solid var(--gray02);
      border-bottom: 1px solid var(--gray02);
      @media screen and (max-width: 376px) {
        gap: 0px;
      }
      .card-pic {
        img {
          border-radius: 5px;
        }
        @media screen and (max-width: 376px) {
          padding: 0;
        }
      }
      .recipe-title {
        color: var(--black);
      }
      .card-content-middle {
        color: var(--black);
      }
      .bottom-left {
        .date {
          color: var(--gray01);
        }
        .recipe-category {
          color: var(--gray01);
        }
        @media screen and (max-width: 376px) {
          margin-bottom: 10px;
        }
      }
      .btn-more-detail {
        border-radius: 5px;
        background: var(--green02);
        padding: 8px 15px;
        border: none;
        @media screen and (max-width: 376px) {
          font-size: 14px;
        }
      }
    }
  }
}
