.searchContainer {
    position: relative;
    /* display: inline-block; */
    display: flex;
    justify-content: space-between;
    margin: 13px 0;
    padding: 0 10px;
    max-width: 900px;
    }
    
    .searchBar {
      width: 100%;
    padding: 10px;
    border: 2px solid #78CEA6;
    border-radius: 5px;
    /* width: 200px; */
    height: 40px;
    outline: none;
    }
   
    .searchButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px 20px 0px;
    background-color: white;
    border: 2px solid #78CEA6;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 100%;
    outline: none;
    }
    
    
    
    .searchButton svg {
    fill: white;
    width: 20px;
    height: 20px;
    }