/* 購買清單卡片 */
.objectFit {
  width: 100%;
  height: 100%;
}
.buyCard {
  width: 900px;
  background-color: var(--Black-0, #fff);
  display: flex;
  max-width: 900px;
  flex-direction: column;
  justify-content: center;
  /* padding: 15px 20px; */
  padding: 20px 15px 20px 15px;
  box-shadow: inset 0px -2px 0px 0px var(--green05);
  /* 添加向内延伸的边框 */
}
@media (max-width: 375px) {
  .buyCard {
    width: 334px;
    /* padding: 20px 15px 20px 15px;
      margin: 20px 15px 0 15px; */
  }
}

.bccolumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 130px;
  height: 130px;
  margin-left: 0px;
  background-color: var(--gray02);
}
@media (max-width: 375px) {
  .bccolumn {
    width: 80px;
    height: 80px;
  }
}

.buyItem {
  width: 700px;
  justify-content: end;
  align-self: stretch;
  display: flex;
  gap: 10px;
  line-height: 120%;
  margin: auto 0;
}

.buyItemMain {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--gray01, #919da6);
  font-weight: 500;
  flex: 1;
}

.biContent {
  color: var(--black, var(--gray03, #454545));
  font:
    20px Inter,
    sans-serif;
  font-weight: bold;
}
@media (max-width: 375px) {
  .buyItem {
    width: 215px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    line-height: 120%;
    margin: auto 0;
  }
  .buyItemMain {
    justify-content: center;

    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--gray01, #919da6);
    font-weight: 500;
    flex: 1;
  }
  .biContent {
    font-size: 14px;
  }
}

.biNumber {
  font-family: Inter, sans-serif;
  margin-top: 10px;
}
@media (max-width: 375px) {
  .biNumber {
    font-size: 12px;
    margin-top: 0px;
  }
}

.biState {
  font-family: Inter, sans-serif;
  margin-top: 10px;
}
@media (max-width: 375px) {
  .biState {
    font-size: 12px;
    margin-top: 0px;
  }
}

.biMb {
  width: 215px;

  align-self: end;
  display: flex;
  margin-top: 45px;
  gap: 20px;
  justify-content: space-between;
}
.biMoney {
  width: 100%;
  color: var(--gray01);
  align-self: start;
  margin-top: 14px;
  font:
    500 16px Inter,
    sans-serif;
}
@media (max-width: 375px) {
  .biMb {
    width: 105px;
    display: block;
    margin: auto;
  }
  .biMoney {
    color: var(--green03);

    display: block;
    margin-bottom: 0px;
    font:
      400 14px Inter,
      sans-serif;
  }
}

.biButton {
  width: 100px;
  height: 33px;
  font-weight: bold;
  font-size: 12px;
  color: #50bf8b;
  background-color: var(--green05);
  border: var(--green05);
  border-radius: 5px;
}

.buyCardBtn {
  display: inline-flex;
  /* 将按钮的显示设置为内联弹性盒 */
  align-items: center;
  /* 垂直居中按钮内的内容 */
  width: 101px;
  /* 设置按钮宽度自适应 */
  height: 33px;
  /* 设置按钮高度 */
  text-decoration: none;
  /* 移除默认的超链接样式 */
  padding: 10px 20px;
  /* 设置按钮的上下左右内边距 */
  font-weight: bold;
  font-size: 14px;
  background-color: var(--green05);
  color: #50bf8b;
}
@media (width: 375px) {
  .buyCardBtn {
    width: 50px;
    height: 28px;
    padding: 0px;
    font-weight: bold;
    font-size: 14px;
    background-color: var(--green05);
    color: #50bf8b;
  }
}
.buyCardBtn:hover {
  background-color: var(--green02);
  color: var(--white);
}
/* 滑鼠壓下去的時候按鈕效果 */
.buyCardBtn:active {
  background-color: #def9ec !important;
  color: #50bf8b !important;
}

/* YUN ADD */
.reviewContainer {
  width: 870px;
}
.reviewComment {
  width: 100%;
}

.reviewInput {
  width: 100%;
  border: solid 3px var(--green05);
  border-radius: 5px;
  padding: 10px;
  resize: none;
}

@media (width: 375px) {
  .reviewContainer {
    width: 304px;
  }
  .reviewComment {
    width: 100%;
  }

  .reviewInput {
    font-size: 14px;
    width: 100%;
    border: solid 3px var(--green05);
    border-radius: 5px;
    padding: 10px;
    resize: none;
  }
}
