<div class="mainsearch">
    <div class="mscontent">Search for ltemss...</div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/4d7b4236db983404c60a8e6f407043967fd36bb8b4dd9dd5af142d2320770caa?"
      class="img"
    />
  </div>
  <style>
    .mainsearch {
      justify-content: space-between;
      border-radius: 5px;
      border-color: rgba(120, 206, 166, 1);
      border-style: solid;
      border-width: 2px;
      background-color: #fff;
      display: flex;
      max-width: 900px;
      gap: 20px;
      font-size: 16px;
      color: var(--gray02, #d9e1e6);
      font-weight: 500;
      line-height: 120%;
      padding: 10px 30px;
      margin: 13px 0 13px 0;
    }
    @media (max-width: 991px) {
      .mainsearch {
        flex-wrap: wrap;
        padding: 0 20px;
      }
    }
    .mscontent {
      font-family: Inter, sans-serif;
    }
    .img {
      aspect-ratio: 0.93;
      object-fit: auto;
      object-position: center;
      width: 12px;
      margin: auto 0;
    }
  </style>
  