<div class="membership">

    <div class="membership-details">
        <div class="current-level">當前會員等級</div>
        <div class="current-level-info">當前會員等級:</div>
        <div class="next-level-info">下個等級:</div>
        <div class="upgrade-amount-info">升級所需金額:</div>
        <div class="level-benefits">各等級所需條件和福利</div>
        <div class="level-cards">
            <div class="level-card">
                <div class="level-title">會員等級</div>
                <div class="level-description">不知寫啥</div>
                <div class="level-perks">不知寫啥</div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <img loading="lazy" srcset="..." class="level-image" />
                </div>
                <div class="level-title">等級1</div>
                <div class="level-description">新鮮蔬菜</div>
                <div class="level-perks">新鮮蔬菜</div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <img loading="lazy" srcset="..." class="level-image" />
                </div>
                <div class="level-title">等級2</div>
                <div class="level-description">新鮮蔬菜</div>
                <div class="level-perks">新鮮蔬菜</div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <img loading="lazy" srcset="..." class="level-image" />
                </div>
                <div class="level-title">等級3</div>
                <div class="level-description">新鮮蔬菜</div>
                <div class="level-perks">新鮮蔬菜</div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <img loading="lazy" srcset="..." class="level-image" />
                </div>
                <div class="level-title">等級4</div>
                <div class="level-description">新鮮蔬菜</div>
                <div class="level-perks">新鮮蔬菜</div>
            </div>
            <div class="level-card">
                <div class="level-icon">
                    <img loading="lazy" srcset="..." class="level-image" />
                </div>
                <div class="level-title">等級5</div>
                <div class="level-description">新鮮蔬菜</div>
                <div class="level-perks">新鮮蔬菜</div>
            </div>
        </div>
    </div>
    <div class="upgrade-rules">升級/降級規則</div>
</div>

<style>
    :root {

        --font-size: 20px;
        --gray02: #D9E1E6;
        --gray01: #747e85;
        --green03: #78CEA6;
        --green04: #9CB4AC;
        --black: #454545;
        --green02: #50bf8b;
        --green05: #DEF9EC;
        --success1: #2ECC71;
        --black80: #636E72;
    }

    .membership {
        display: flex;
        max-width: 788px;
        flex-direction: column;
        line-height: 120%;
    }








    .membership-details {
        background-color: var(--Black-0, #fff);
        display: flex;
        width: 100%;
        flex-direction: column;
        font-size: 15px;
        color: var(--Black-80, #636e72);
        font-weight: 500;
        padding: 0 20px 35px;
    }

    @media (max-width: 991px) {
        .membership-details {
            max-width: 100%;
        }
    }

    .current-level {
        width: 100%;
        font: 400 20px Inter, sans-serif;
    }

    @media (max-width: 991px) {
        .current-level {
            max-width: 100%;
        }
    }

    .current-level-info {
        font-family: Inter, sans-serif;
        align-self: start;
        margin-top: 20px;
    }

    .next-level-info {
        font-family: Inter, sans-serif;
        align-self: start;
        margin-top: 16px;
    }

    .upgrade-amount-info {
        font-family: Inter, sans-serif;
        align-self: start;
        margin-top: 16px;
    }

    .level-benefits {
        border-bottom: 1px solid var(--gray02);
        padding: 3px 0;
        font: 16px Inter, sans-serif;
        margin-top: 52px;
    }

    @media (max-width: 991px) {
        .level-benefits {
            max-width: 100%;
            margin-top: 40px;
            white-space: initial;
        }
    }

    .level-cards {
        justify-content: space-between;
        display: flex;
        margin-top: 37px;
        gap: 0px;
        font-size: 14px;
    }

    @media (max-width: 991px) {
        .level-cards {
            flex-wrap: wrap;
        }
    }

    .level-card {
        align-self: end;
        display: flex;
        margin-top: 90px;
        flex-direction: column;
        white-space: nowrap;
        padding: 10px 0;
    }

    @media (max-width: 991px) {
        .level-card {
            margin-top: 40px;
            white-space: initial;
        }
    }

    .level-title {
        font-family: Inter, sans-serif;
    }

    .level-description {
        font-family: Inter, sans-serif;
        margin-top: 10px;
    }

    .level-perks {
        font-family: Inter, sans-serif;
        margin-top: 10px;
    }

    .level-icon {
        max-width: 1024px;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .level-image {
        aspect-ratio: 1;
        object-fit: auto;
        object-position: center;
        width: 80px;
        border-radius: 50%;
    }

    .upgrade-rules {
        border-bottom: 1px solid var(--gray02);
        padding: 3px 0;
        font: 14px Inter, sans-serif;
        margin-top: 37px;
    }

    @media (max-width: 991px) {
        .upgrade-rules {
            max-width: 100%;
            white-space: initial;
        }
    }
</style>