@media (min-width: 376px) {
  .navbarMobile {
    display: none;
  }
  .navbarDesk {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cir {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "1";
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #50bf8b;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fefefe;
      font-size: 24px;
    }

    &::after {
      content: "購物車";
      position: absolute;
      font-size: 24px;
      bottom: -50px;
      width: 80px;
      left: -46px;
      margin-left: 10px;
      min-width: 30px;
    }
  }

  .circle2 {
    &::before {
      content: "2";
      background: #d9d9d9;
    }

    &::after {
      content: "填寫資料";
      left: -55px;
      min-width: 100px;
    }
  }

  .circle3 {
    &::before {
      content: "3";
      background: #d9d9d9;
    }

    &::after {
      content: "訂單確認";
      min-width: 100px;
      left: -55px;
    }
  }
  .mobile {
    display: none;
  }

  .line {
    width: 20vw;
    height: 2px;
    background: #d9d9d9;
    margin-top: 19px;
  }
}
@media (max-width: 376px) {
  .navbarDesk {
    display: none;
  }
  .navbarMobile {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cir {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "1";
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #50bf8b;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fefefe;
    }

    &::after {
      content: "購物車";
      position: absolute;
      font-size: 16px;
      bottom: -30px;
      width: 80px;
      left: -35px;
      margin-left: 10px;
      min-width: 30px;
    }
  }

  .circle2 {
    &::before {
      content: "2";
      background: #d9d9d9;
    }

    &::after {
      content: "填寫資料";
      left: -42px;
      min-width: 100px;
    }
  }

  .circle3 {
    &::before {
      content: "3";
      background: #d9d9d9;
    }

    &::after {
      content: "訂單確認";
      min-width: 100px;
      left: -42px;
    }
  }
  .desktop {
    display: none;
  }

  .line {
    width: 30vw;
    height: 2px;
    background: #d9d9d9;
    margin-top: 19px;
  }
}
